<ion-view title="Fiskevatten">
    <div style="height: 43px;"></div>
    <ion-header-bar class="bar-calm item-input-inset search-bar">
        <div class="item-input-wrapper">
	    <i class="icon ion-search"></i>
	    <input type="search" placeholder="Sök fiskevatten" ng-model="search[queryBy]" ng-change="scrollTop()"/>
	    <i ng-if="search.value.length > 0" ng-click="clearSearch()" class="icon ion-close"></i>
        </div>
    </ion-header-bar>

    <ion-content header-shrink>
	<div style="height: 43px;"></div>
	<ion-list>
	    <ion-item ng-repeat="area in areas | filter:search" ui-sref="menu.areadetail({id: area.ID })">
		<h2>{{area.t}}</h2>
	    </ion-item>
	</ion-list>
    </ion-content>
</ion-view>
