<ion-view title="AreaDetail" class="abstract-bg">
<ion-content class="padding">
<div class="list card">
    <div class="item item-image">
        <img src={{area.img}}>
    </div>
    <div class="item item-body">
        <div class="row">
            <div class="col">
                <h2>{{area.t}}</h2>
            </div>
            <div class="col">
                <button class="button button-positive pull-right" ui-sref="menu.areadetailcards({id: area.ID})">Köp Fiskekort</button>
            </div>
        </div>
        <p ng-bind-html="area.d"></p>
    </div>
</div>
</ion-content>
</ion-view>
