<ion-view title="Register">
    <ion-content class="padding">
	<img src="img/logo.png" width="100%"></img>
	<div class="list ">
	    <label class="item item-input">
		<input type="text" placeholder="För- och Efternamn">
	    </label>
	    <label class="item item-input">
		<input type="password" placeholder="Användarnamn">
	    </label>
	    <label class="item item-input">
		<input type="password" placeholder="Email-adress">
	    </label>
	    <label class="item item-input">
		<input type="password" placeholder="Telefonnummer">
	    </label>
	    <label class="item item-input">
		<input type="password" placeholder="Lösenord">
	    </label>
	    <label class="item item-input">
		<input type="password" placeholder="Bekräfta Lösenord">
	    </label>
	</div>
    </ion-content>
</ion-view>
