<ion-header>
  <admin-header></admin-header>
</ion-header>

<ion-content>
  <div ion-fixed *ngIf="stats | async; let stat; else offline">
    <div class="chart-container" *ngIf="stat.weeks; let weeks">
      <div class="header-text">
      <h2>{{'Sold products' | translate}}</h2>
      <span>{{'Last year' | translate}}</span>
      </div>
      <app-chart [data]="stat.weeks"></app-chart>
    </div>
    <div class="header-text">
      <h2>{{stat.account_balance}} kr</h2>
      <span>{{'Wallet Balance' | translate}}</span>
    </div>
  </div>
  <ng-template #offline>
    <p class="text-center">
      {{'ui.admin.stats.offline' | translate}}
    </p>
  </ng-template>
</ion-content>
