<ion-header>
  <admin-header></admin-header>
</ion-header>

<ion-content>
  <p
    class="text-center"
    *ngIf="(organization | async)?.level === 0; else stats"
  >
    {{'ui.admin.stats.noAccess' | translate}}
  </p>
  <ng-template #stats>
    <div ion-fixed *ngIf="stats$ | async; let stat">
      <div class="chart-container" *ngIf="stat.weeks; let weeks">
        <div class="header-text">
          <h2>{{'Sold products' | translate}}</h2>
          <span>{{'Last year' | translate}}</span>
        </div>
        <app-chart [data]="stat.weeks"></app-chart>
      </div>
      <div class="header-text">
        <h2>{{stat.account_balance}} kr</h2>
        <span>{{'Wallet Balance' | translate}}</span>
      </div>
    </div>

    <p class="text-center" *ngIf="(stats$ | async) === undefined">
      {{'ui.admin.stats.offline' | translate}}
    </p>
  </ng-template>
</ion-content>
