<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{'About the app' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="outer-content">
  <ion-list>
    <ion-list-header>{{'About the app' | translate}}</ion-list-header>
    <ion-item>
      <h2>{{'iFiske - Easier Fishing' | translate}}</h2>
      <p>&copy; 2017 Jighead AB (iFiske.se)</p>
    </ion-item>
    <button ion-item detail-none (click)="activateDeveloperMode()">
      <h2>{{'ui.about.version' | translate}}</h2>
      <p>{{version}} ({{codeVersion}})</p>
    </button>
    <button ion-item detail-none *ngIf="settings?.isDeveloper" (click)="selectDeployChannel()">
      <h2>{{'Deploy channel' | translate}}</h2>
      <p>
        {{proInfo?.channel ||settings?.channel}}
        <span *ngIf="proInfo?.deploy_uuid !== 'NO_DEPLOY_LABEL'">({{proInfo?.deploy_uuid}})</span>
      </p>
    </button>
    <ion-item *ngIf="proInfo && settings?.isDeveloper" (click)="checkForUpdates()">
      {{'Check for updates' | translate}}
    </ion-item>
    <ion-item>
      <h2>{{'Last updated' | translate}}</h2>
      <p>{{lastUpdated | date:'medium'}}</p>
    </ion-item>
    <a ion-item [navPush]="'FossPage'">{{'Open Source Licenses' | translate}}</a>
  </ion-list>
</ion-content>
