<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{'About the app' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="outer-content">
  <ion-list>
    <ion-list-header>{{'About the app' | translate}}</ion-list-header>
    <ion-item>
      <h2>{{'iFiske - Easier Fishing' | translate}}</h2>
      <p>&copy; 2017 Jighead AB (iFiske.se)</p>
    </ion-item>
    <ion-item>
      <h2>{{'ui.about.version' | translate}}</h2>
      <p>{{version}} ({{buildId}})</p>
    </ion-item>
    <ion-item *ngIf="settings?.isDeveloper">
      <h2>{{'ui.about.codeVersion' | translate}}</h2>
      <p>{{codeVersion}}</p>
    </ion-item>
    <ion-item *ngIf="proInfo" (click)="activateDeveloperMode()">
      <h2>{{'Deploy channel' | translate}}</h2>
      <p>{{proInfo.channel}} ({{proInfo.deploy_uuid}})</p>
    </ion-item>
    <ion-item *ngIf="proInfo && settings?.isDeveloper" (click)="checkForUpdates()">
      {{'Check for updates' | translate}}
    </ion-item>
    <ion-item>
      <h2>{{'Last updated' | translate}}</h2>
      <p>{{lastUpdated | date:'medium'}}</p>
    </ion-item>
    <a ion-item [navPush]="'FossPage'">{{'Open Source Licenses' | translate}}</a>
  </ion-list>
</ion-content>
