<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{'About the app' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
  <ion-list>
    <ion-list-header>{{'About the app' | translate}}</ion-list-header>
    <ion-item>
      <h2>{{'iFiske - Easier Fishing' | translate}}</h2>
      <p>&copy; 2017 Jighead AB (iFiske.se)</p>
    </ion-item>
    <button ion-item detail-none (click)="activateDeveloperMode()">
      <h2>{{'ui.about.version' | translate}}</h2>
      <p>{{version}} ({{codeVersion}})</p>
    </button>
    <ion-item *ngIf="settings?.isDeveloper">
      <ion-label>{{'ui.developer.betaOptIn' | translate}}</ion-label>
      <ion-toggle
        [(ngModel)]="useBetaChannel"
        (ionChange)="selectDeployChannel()"
      ></ion-toggle>
    </ion-item>
    <ion-item
      *ngIf="proInfo && settings?.isDeveloper"
      (click)="checkForUpdates()"
    >
      {{'ui.developer.checkForUpdates' | translate}}
    </ion-item>
    <ion-item>
      <h2>{{'Last updated' | translate}}</h2>
      <p>{{lastUpdated | date:'medium'}}</p>
    </ion-item>
    <a ion-item [navPush]="'FossPage'"
      >{{'Open Source Licenses' | translate}}</a
    >
  </ion-list>
</ion-content>
