page-login {
  .centered-content {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 40px;

    &>img,
    &>*:last-child {
      margin-bottom: auto;
    }

    &>* {
      flex-grow: 0;
      flex-shrink: 0;
      width: 100%;
    }
  }

  .md & ion-data-form {
    border-radius: $list-inset-md-border-radius;
  }

  .ios & ion-data-form {
    border-radius: $list-inset-ios-border-radius;
  }

  .wp & ion-data-form {
    border-radius: $list-inset-wp-border-radius;
  }

  .item.item .item-inner {
    border-color: transparent;
  }

  ion-data-form {
    margin: 16px 0;

    .ion-data-form-inputs {
      margin-bottom: 16px;

      .ios & {
        border-radius: $list-inset-ios-border-radius;
      }

      .md & {
        border-radius: $list-inset-md-border-radius;
      }
    }
  }
}
