page-login {
  .centered-content {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 40px;

    &>img,
    &>*:last-child {
      margin-bottom: auto;
    }

    &>* {
      flex-grow: 0;
      flex-shrink: 0;
      width: 100%;
    }
  }

  .md & ion-data-form {
    border-radius: $list-inset-md-border-radius;
  }

  .ios & ion-data-form {
    border-radius: $list-inset-ios-border-radius;
  }

  .wp & ion-data-form {
    border-radius: $list-inset-wp-border-radius;
  }

  .text-input-ios {
    margin: 11px 8px;
  }
  .item.item .item-inner {
    border-color: transparent;
  }

  ion-data-form {
    margin: 16px 0;

    input::placeholder {
      color: $primary-text-color!important;
    }
    .ion-data-form-inputs {
      background: rgba(white, 0.5);
      overflow: hidden;
      margin-bottom: 16px;

      @supports(backdrop-filter: blur(4px)) {
        background: rgba(white, 0.25);
        backdrop-filter: blur(4px);
      }

      .ios & {
        border-radius: $list-inset-ios-border-radius;
      }

      .md & {
        border-radius: $list-inset-md-border-radius;
      }
    }
    .item-input {
      background: transparent;
      color: $primary-text-color;
      margin: 0;
    }
  }

}
