<ion-view hide-nav-bar="true" title="" cache-view="false">
    <ion-content class="padding has-header">
	<img src="img/logo.png" width="100%"></img>
	<div class="list padding">
	    <label class="item item-input">
		<!--span class="input-label">Användarnamn</span-->
		<input type="text" placeholder="Användarnamn" ng-model="user.username">
	    </label>
	    <label class="item item-input">
		<!--span class="input-label">Lösenord</span-->
		<input type="password" placeholder="Lösenord" ng-model="user.password">
	    </label>

        <p ng-show="error">{{error}}</p>


	    <button class="button button-block button-positive" ng-click="signIn(user)">
		Logga in
	    </button>
	    <p class="text-center">
		<a>Glömt lösenord</a>
	    </p>

	</div>
    </ion-content>
    <div class="bar bar-footer bar-transparent">
	<button class="button button-outline button-positive" ui-sref="^.register.accountDetails">
	    Skapa nytt konto...
	</button>
	<button class="button button-outline button-positive" ui-sref="menu.home">
	    Hoppa över...
	</button>
    </div>
</ion-view>
