<ion-view title="Mina fiskekort" class="image-bg">
  <ion-content class="padding">
    <ion-refresher
    pulling-text="Uppdatera..."
    on-refresh="update()">
  </ion-refresher>
  <div class="list">
  <div class="item" ng-if="products.length < 1">
    <div class="item item-text-wrap">
      <p>När du köpt fiskekort kommer de att finnas listade här.</p>
    </div>
  </div>
  <div class="item" ng-repeat="product in products | orderBy:pred" ng-class="product.to*1000 < now ? 'expired2' : (product.fr*1000 > now ? 'inactive2' : 'active2')" ui-sref="^.license_detail({license: product, id: product.ID})">
      <h2>{{product.ot}} - {{product.t}}</h2>
    </div>
  </div>

</ion-content>
</ion-view>
