<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="30990390" id="se.iFiske.fiskekort" ios-CFBundleIdentifier="se.iFiske.iFiske" ios-CFBundleVersion="30990390" version="3.99.39" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>iFiske Fiskekort</name>
    <description>iFiske - Enklare Fiskekort</description>
    <author email="app@ifiske.se" href="https://www.ifiske.se/">iFiske</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="http://ionic.local/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="orientation" value="portrait" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="FadeSplashScreenDuration" value="300" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <allow-navigation href="http://localhost:8080/*" />
    <config-file parent="ITSAppUsesNonExemptEncryption" platform="ios" target="*-Info.plist">
        <false />
    </config-file>
    <feature name="CDVWKWebViewEngine">
        <param name="ios-package" value="CDVWKWebViewEngine" />
    </feature>
    <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />
    <platform name="android">
        <resource-file src="resources/android/res/drawable-mdpi/ic_stat_icon.png" target="res/drawable-mdpi/fcm_push_icon.png" />
        <resource-file src="resources/android/res/drawable-hdpi/ic_stat_icon.png" target="res/drawable-hdpi/fcm_push_icon.png" />
        <resource-file src="resources/android/res/drawable-xhdpi/ic_stat_icon.png" target="res/drawable-xhdpi/fcm_push_icon.png" />
        <resource-file src="resources/android/res/drawable-xxhdpi/ic_stat_icon.png" target="res/drawable-xxhdpi/fcm_push_icon.png" />
        <resource-file src="resources/android/res/drawable-xxxhdpi/ic_stat_icon.png" target="res/drawable-xxxhdpi/fcm_push_icon.png" />
        <allow-intent href="market:*" />
        <splash density="land-mdpi" src="resources/android/splash/drawable-land-mdpi-screen.png" />
        <splash density="land-hdpi" src="resources/android/splash/drawable-land-hdpi-screen.png" />
        <splash density="land-xhdpi" src="resources/android/splash/drawable-land-xhdpi-screen.png" />
        <splash density="land-xxhdpi" src="resources/android/splash/drawable-land-xxhdpi-screen.png" />
        <splash density="land-xxxhdpi" src="resources/android/splash/drawable-land-xxxhdpi-screen.png" />
        <splash density="port-mdpi" src="resources/android/splash/drawable-port-mdpi-screen.png" />
        <splash density="port-hdpi" src="resources/android/splash/drawable-port-hdpi-screen.png" />
        <splash density="port-xhdpi" src="resources/android/splash/drawable-port-xhdpi-screen.png" />
        <splash density="port-xxhdpi" src="resources/android/splash/drawable-port-xxhdpi-screen.png" />
        <splash density="port-xxxhdpi" src="resources/android/splash/drawable-port-xxxhdpi-screen.png" />
        <icon density="mdpi" src="resources/android/res/mipmap-mdpi/ic_launcher.png" />
        <icon density="hdpi" src="resources/android/res/mipmap-hdpi/ic_launcher.png" />
        <icon density="xhdpi" src="resources/android/res/mipmap-xhdpi/ic_launcher.png" />
        <icon density="xxhdpi" src="resources/android/res/mipmap-xxhdpi/ic_launcher.png" />
        <icon density="xxxhdpi" src="resources/android/res/mipmap-xxxhdpi/ic_launcher.png" />
    </platform>
    <platform name="ios">
        <resource-file src="GoogleService-Info.plist" target="Resources/GoogleService-Info.plist" />
        <resource-file src="GoogleService-Info.plist" target="GoogleService-Info.plist" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon height="57" src="resources/ios/icon/icon.png" width="57" />
        <icon height="114" src="resources/ios/icon/icon@2x.png" width="114" />
        <icon height="40" src="resources/ios/icon/icon-40.png" width="40" />
        <icon height="80" src="resources/ios/icon/icon-40@2x.png" width="80" />
        <icon height="120" src="resources/ios/icon/icon-40@3x.png" width="120" />
        <icon height="50" src="resources/ios/icon/icon-50.png" width="50" />
        <icon height="100" src="resources/ios/icon/icon-50@2x.png" width="100" />
        <icon height="60" src="resources/ios/icon/icon-60.png" width="60" />
        <icon height="120" src="resources/ios/icon/icon-60@2x.png" width="120" />
        <icon height="180" src="resources/ios/icon/icon-60@3x.png" width="180" />
        <icon height="72" src="resources/ios/icon/icon-72.png" width="72" />
        <icon height="144" src="resources/ios/icon/icon-72@2x.png" width="144" />
        <icon height="76" src="resources/ios/icon/icon-76.png" width="76" />
        <icon height="152" src="resources/ios/icon/icon-76@2x.png" width="152" />
        <icon height="167" src="resources/ios/icon/icon-83.5@2x.png" width="167" />
        <icon height="29" src="resources/ios/icon/icon-small.png" width="29" />
        <icon height="58" src="resources/ios/icon/icon-small@2x.png" width="58" />
        <icon height="87" src="resources/ios/icon/icon-small@3x.png" width="87" />
        <icon height="1024" src="resources/ios/icon/icon-1024.png" width="1024" />
        <splash height="2732" src="resources/ios/splash/Default@2x~universal~anyany.png" width="2732" />
    </platform>
    <plugin name="cordova-plugin-ionic" spec="^3.0.0">
        <variable name="APP_ID" value="37198a9f" />
        <variable name="CHANNEL_NAME" value="Production" />
        <variable name="UPDATE_METHOD" value="none" />
        <variable name="UPDATE_API" value="https://api.ionicjs.com" />
        <variable name="MAX_STORE" value="2" />
    </plugin>
    <plugin name="cordova-sqlite-storage" spec="^2.2.0" />
    <plugin name="uk.co.workingedge.phonegap.plugin.launchnavigator" spec="^4.1.3" />
    <plugin name="cordova-plugin-geolocation" spec="^4.0.1">
        <variable name="GEOLOCATION_USAGE_DESCRIPTION" value="In order to help you find the best fishing nearby" />
    </plugin>
    <plugin name="cordova-plugin-screen-orientation" spec="^3.0.1" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-statusbar" spec="^2.4.1" />
    <plugin name="cordova-plugin-device" spec="^2.0.1" />
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.1" />
    <plugin name="cordova-plugin-app-version" spec="^0.1.9" />
    <plugin name="cordova-plugin-ionic-webview" spec="^1.1.16" />
    <plugin name="cordova-plugin-ionic-keyboard" spec="^2.0.5" />
    <plugin name="cordova-plugin-inappbrowser" spec="^2.0.1" />
    <plugin name="phonegap-plugin-barcodescanner" spec="^7.0.2">
        <variable name="CAMERA_USAGE_DESCRIPTION" value="For scanning QR codes" />
    </plugin>
    <engine name="android" spec="^6.4.0" />
    <engine name="ios" spec="~4.5.4" />
    <plugin name="cordova-plugin-fcm" spec="@ifiske/cordova-plugin-fcm@~3.0.5" />
    <plugin name="cordova-plugin-sms" spec="@ifiske/cordova-plugin-sms@~1.0.1" />
    <plugin name="cordova-plugin-migrate-localstorage" spec="@ifiske/cordova-plugin-migrate-localstorage@~1.0.0" />
</widget>
