<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>196216212249-58joanlihr2a659m0nibq20prm0t8iss.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.196216212249-58joanlihr2a659m0nibq20prm0t8iss</string>
	<key>API_KEY</key>
	<string>AIzaSyBdpP5pQ3lvXZqaMG2NwiPwidYpHcYxBsM</string>
	<key>GCM_SENDER_ID</key>
	<string>196216212249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>se.iFiske.iFiske</string>
	<key>PROJECT_ID</key>
	<string>ifiske-app-project</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:196216212249:ios:9920c7db469cd4b2</string>
	<key>DATABASE_URL</key>
	<string>https://ifiske-app-project.firebaseio.com</string>
</dict>
</plist>