<ion-header>
  <admin-header (back)="back()"></admin-header>

  <ion-toolbar no-border-top color="primary">
    <form action="" class="search-form">
      <ion-searchbar animated (ionInput)="search($event)" (keypress)="keypress($event)" [(ngModel)]="searchTerm" [ngModelOptions]="{standalone: true}"
        [placeholder]="'Search' | translate"></ion-searchbar>
      <button ion-button icon-only class="refresh-button" (click)="refresh()"><ion-icon name="refresh"></ion-icon></button>
    </form>
  </ion-toolbar>
</ion-header>

<ion-content class="outer-content">
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content
      [pullingText]="'ui.general.pull_to_refresh' | translate"
      [refreshingText]="'Updating' | translate"
    ></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="permits?.length === 0">
    <ion-item>
      {{'errors.admin.noPermits' | translate}}
    </ion-item>
  </ion-list>
  <ion-list>
    <ng-container *ngFor="let item of permits">
      <ion-list-header (click)="fold(item)" [ngClass]="'list-header-' + item.key">
        <ion-icon item-start [name]="item.icon"></ion-icon>
        <span>{{item.title | translate}}: {{item.permits.length}} {{'ui.general.shortAmount' | translate}}</span>
        <ion-icon item-end [name]="item.folded ? 'arrow-dropright' : 'arrow-dropdown'"></ion-icon>
      </ion-list-header>
      <ng-container *ngIf="!item.folded">
      <ion-item *ngFor="let permit of item.permits" (click)="goto(permit)">
        <h2>{{permit.fullname}}</h2>
        <p>{{permit.t}}</p>
        <p>{{permit.tel}}</p>
        <p item-end class="code">{{permit.code}}</p>
      </ion-item>
      </ng-container>
    </ng-container>
  </ion-list>

</ion-content>
