<ion-view>

<ion-side-menus>
  <ion-side-menu-content>

    <ion-nav-bar class="bar-calm" align-title="center">
      <ion-nav-buttons side="left">
	<button class="button button-clear icon ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
      <ion-nav-back-button class="button-clear">
	  <i class="icon ion-arrow-left-c"></i>
      </ion-nav-back-button>
    </ion-nav-bar>

    <ion-nav-view></ion-nav-view>

  </ion-side-menu-content>

  <ion-side-menu side="left" width="215">
    <header class="bar bar-header bar-calm">
      <h1 class="title">Meny</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
	<a ui-sref="app.home" class="item" menu-close>Hem</a>
	<a ng-click="forcedUpdate()" class="item">Uppdatera databas</a>
	<a ui-sref="app.about" class="item" menu-close>Om appen</a>
	<a ui-sref="app.contact" class="item" menu-close>Kontakta oss</a>
	<a ui-sref="app.legal" class="item" menu-close>Användarvillkor</a>
	<a ui-sref="app.bugs" class="item" menu-close>Rapportera Bugg</a>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
</ion-view>
