<ion-view title="area2">
    
    <!-- This navbar is separate from the one used in the menu state. As of beta.14 
	 ionic does not support ion-tabs as a subview of ion-side-menu. In order to 
	 support proper navigation between states, this navbar has a custom back 
	 button. -->
    
    <ion-nav-bar class="bar-calm" align-title="center">
	<ion-nav-buttons>
	    <button class="button button-clear" ng-click="tabsBack()"><i class="icon ion-arrow-left-b"></i> Back</button>
	</ion-nav-buttons>
    </ion-nav-bar>

    <ion-tabs class="tabs-positive tabs-icon-only">
	<ion-tab title="a" ui-sref="^.a">
	    <ion-nav-view name="a"></ion-nav-view>
	</ion-tab>
    </ion-tabs>
</ion-view>
