<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{failed ? ('Check permit' | translate) : (permit | async)?.t}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <app-permit *ngIf="permit | async" [admin]="true" [permit]="permit | async" (revoke)="revoke($event)"></app-permit>

  <div padding *ngIf="failed" class="text-center">
    <h3 [innerHtml]="'errors.admin.permit.failedHeader' | translate : (code | mkObject:'code')"></h3>
    <p class="preserve-newlines" [innerHtml]="'errors.admin.permit.failedBody' | translate : (code | mkObject:'code')"></p>
  </div>
</ion-content>
