#header {
    width:100%;
    height:30px;
}

#header #logo {
    background-image: url("../img/logo-thin-arrow.png");
    background-repeat: no-repeat;
    background-size: contain;
    width:90px;
    height:100%;
    float:left;
    margin-right:6px;
}

#header #search-div {
    overflow:hidden;
}

#header #searchfield {
    height:100%;
    width:100%;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.5em;
    background-color: transparent;
    border:0px solid #006993;
    border-bottom-width: 3px;
    padding: 0px 0px 0px 5px;
    outline: 0;
}

#searchfield ::-webkit-input-placeholder {
    color: #FF12FF;
    font-style: italic;
}

#header #search-div ::-webkit-input-placeholder {
    color: #DDDDDD;
    font-style: italic;
}

#header #search-bottom-bar {
    height:7px;
    border:0px solid #006993;
    border-width:0px 3px 0px 3px;
    position: relative;
    margin-top: -7px;
}
