<ion-view title="areatabs">
    <ion-content scroll="false">
        <tab-slide-box tab="0" tabs-position="bottom">
            <ion-slide-box show-pager="false">
                <ion-slide>
                    <ion-nav-view name="info"></ion-nav-view>
                </ion-slide>
                <ion-slide>
                    <ion-nav-view name="cards"></ion-nav-view>
                </ion-slide>
                <ion-slide>
                    <ion-nav-view name="fishinfo"></ion-nav-view>
                </ion-slide>
                <ion-slide>
                    <ion-nav-view name="map"></ion-nav-view>
                </ion-slide>
            </ion-slide-box>
            <div class="tsb-icons">
                <div class="tsb-ic-wrp">
                    <ion-scroll direction="x" class="tsb-hscroll">
                        <a>Information</a>
                        <a>Kort</a>
                        <a>Fiskinfo</a>
                        <a>Karta</a>
                    </ion-scroll>
                </div>
            </div>
        </tab-slide-box>
    </ion-content>
</ion-view>
