<ion-view class="abstract-bg">
    <ion-nav-view name="area"></ion-nav-view>
    <ion-footer-bar class="tabs tabs-icon-only tabs-calm">
        <a nav-transition="none" class="tab-item" title="" ui-sref-active="active" ng-click="goto('info')">
            <i class="icon ion-information-circled"></i>
        </a>
        <a nav-transition="none" class="tab-item" title="" ui-sref-active="active" ng-click="goto('cards')">
            <i class=" icon ion-card"></i>
        </a>
        <a nav-transition="none" class="tab-item" title="" ui-sref-active="active" ng-if="fishes.length" ng-click="goto('fish')">
            <i class="icon icon-icon_fish"></i>
        </a>
        <a nav-transition="none" class="tab-item" title="" ui-sref-active="active" ng-click="goto('map')">
            <i class="icon ion-map"></i>
        </a>
    </ion-footer-bar>
</ion-view>
