<ion-view>
  <ion-content>
    <div ng-show="favorites.length" class="item item-divider" style='float:right; padding-right:20px;'>Notifikation via email &#8628;</div>
    <div ng-show="!favorites.length" class="item item-divider">- Inga favoriter har markerats -</div>
        <ion-list>
            <ion-toggle ng-repeat="area in favorites" toggle-class="toggle-balanced" on-hold="openPopover(area)" ng-model="area.not" ng-change="notify(area)" ng-true-value="1" ng-false-value="0">
                <h2 ui-sref="app.area({id: area.ID, area: area})">{{::area.t}}</h2>
            </ion-toggle>
        </ion-list>
        <div class="card">
            <div class="item item-text-wrap">
              &#8505; Håll koll på när det nappar! Markera dina favorit- och hemmavatten som favoriter med en stjärna, så prenumererar du på alla nya publika fångstrapporter som kommer in till oss via epost. Om du vill ta bort favorit, tryck och håll ner på fiskevattnets namn.
            </div>
        </div>
    </ion-content>
</ion-view>
