<ion-view>
    <ion-content>
        <ion-list>
            <ion-toggle ng-repeat="area in favorites" toggle-class="toggle-assertive" on-hold="openPopover(area)" ng-model="area.not" ng-change="notify(area)" ng-true-value="1" ng-false-value="0">
                <h2 ui-sref="app.area({id: area.ID, area: area})">{{::area.t}}</h2>
            </ion-toggle>
        </ion-list>
        <div class="card">
            <div class="item item-text-wrap">
                &#8505; För att ändra på din användarinformation hänvisas till www.ifiske.se - Där kan du också koppla fler mobilnummer till ditt ko
            </div>
        </div>
    </ion-content>
</ion-view>
