<ion-view view-title="Nytt konto">
    <ion-content>
	<div class="list list-inset">

	    <form name="registerForm" id="register-form">
		<label for="fullname" class="input-label">För- och efternamn:</label>
		<label ng-class="{'label-error': registerForm.fullname.$invalid &&
				 registerForm.fullname.$dirty}" class="item item-input">
		    <input id="fullname" name="fullname" ng-model="fullname" type="text" 
			  placeholder="t.ex. Erik Johansson" ng-pattern="/.{5,50}/" required>
		</label>
		<div class="error-message" ng-messages="registerForm.fullname.$error" 
		     ng-if="registerForm.fullname.$dirty">
		    <p ng-message="pattern">Mellan 5 och 50 tecken</p>
		    <p ng-message="required">Har du inget namn?</p>
		</div>


		<label for="email" class="input-label">E-postadress:</label>
		<label ng-class="{'label-error': registerForm.email.$invalid &&
				 registerForm.email.$dirty}" class="item item-input">
		    <input id="email" name="email" ng-model="email" type="email" 
			  placeholder="t.ex. mail@example.com" required>
		</label>
		<div class="error-message" ng-messages="registerForm.email.$error" 
		     ng-if="registerForm.email.$dirty">
		    <p ng-message="email">Ogiltig epost-adress</p>
		    <p ng-message="required">Du måste ange en epost-adress</p>
		</div>


		<label for="phone" class="input-label">Mobilnummer:</label>
		<label ng-class="{'label-error': registerForm.phone.$invalid &&
				 registerForm.phone.$dirty}" class="item item-input">
		    <input id="phone" name="phone" ng-model="phone" type="text" 
			  placeholder="t.ex. 0761234556" ng-pattern="/[0-9]{5,50}/" required>
		</label>
		<div class="error-message" ng-messages="registerForm.phone.$error" 
		     ng-if="registerForm.phone.$dirty">
		    <p ng-message="pattern">Mellan x och y siffror</p>
		    <p ng-message="required">Du måste ange ett mobilnummer</p>
		</div>


		<!-- ToDo: Note about country code formatting - see api description -->
		<button ui-sref="register.verify" ng-disabled="registerForm.$invalid"
			class="button button-block button-positive">Nästa</button>
	    </form>
	</div>
    </ion-content>
</ion-view>
