<ion-view view-title="{{'Reset password' | translate}}" cache-view="false" class="image-bg">
  <ion-content>
    <div class="list list-inset">

      <form name="resetForm" id="reset-form" novalidate>

        <!-- User -->
        <label for="user" class="input-label" translate>Username or email</label>
        <label ng-class="{'label-error': resetForm.user.$invalid && resetForm.user.$dirty && resetForm.user.length}" class="item item-input">
          <input id="user" name="user" ng-model="user" type="text"
          ng-change="resetForm.user.$setValidity('invalidUser',true);" required>
        </label>

        <ng-messages for="resetForm.user.$error" class="error-message" ng-if="resetForm.user.$dirty">
          <div ng-message="invalidUser" translate>User does not exist</div>
        </ng-messages>


        <!-- Submit -->
        <button ng-click="lostPassword(resetForm)" ng-disabled="resetForm.$invalid"
        class="button button-block button-positive" translate>Next</button>

      </form>

      <p translate>User already has reset code</p>
      <button ui-sref="^.resetpassword" class="button button-block button-positive" translate>I have a reset code</button>
    </div>
  </ion-content>
</ion-view>
