<ion-view view-title="Återställ lösenord" cache-view="false">
    <ion-content>
	<div class="list list-inset">

	    <p class="text-center"><strong>{{info}}</strong></p>

	    <form name="resetForm">

		<!-- Reset code -->
		<label for="code" class="input-label">Återställningskod</label>
		<label ng-class="{'label-error': resetForm.code.$invalid &&
				 resetForm.code.$dirty && resetForm.code.length}"
                       class="item item-input">
		    <input id="code" name="code" ng-model="code" type="text"
			   ng-change="resetForm.code.$setValidity('invalidCode',true);"
			   required>
		</label>
		<div class="error-message" ng-messages="resetForm.code.$error"
		     ng-if="resetForm.code.$dirty">
		    <p ng-message="invalidCode">Ogiltig återställningskod</p>
		</div>


		<!-- Password -->
		<label for="password" class="input-label">Nytt lösenord</label>
		<label ng-class="{'label-error': resetForm.password.$invalid &&
				 resetForm.password.$dirty}" class="item item-input">
		    <input id="password" name="password" ng-model="password" type="text"
			   ng-pattern="/^.{6,16}$/" required>
		</label>
		<div class="error-message" ng-messages="resetForm.password.$error"
		     ng-if="resetForm.password.$dirty">
		    <p ng-message="required">Du måste ange ett lösenord</p>
		    <p ng-message="pattern">Mellan 6 och 16 tecken</p>
                    <!--p ng-message="passwordLength">Mellan 6 och 16 tecken</p-->
		</div>
		
		<!-- Password repeat -->

		<button ng-click="resetPassword(resetForm)"
			ng-disabled="resetForm.$invalid"
			class="button button-block button-positive">Nästa</button>
	    </form>
	</div>
    </ion-content>
</ion-view>
