<ion-view view-title="{{'Reset password' | translate}}" cache-view="false" class="image-bg">
  <ion-content>
    <div class="list list-inset">

      <p class="text-center" ng-bind-html="info"></p>

      <form name="resetForm">

        <!-- User -->
        <label for="user" class="input-label" translate>Username or email</label>
        <label ng-class="{'label-error': resetForm.user.$invalid && resetForm.user.$dirty && resetForm.user.length}" class="item item-input">
          <input id="user" name="user" ng-model="user" type="text"
          ng-change="resetForm.user.$setValidity('invalidUser',true);"
          required>
        </label>

        <ng-messages for="resetForm.user.$error" class="error-message" ng-if="resetForm.user.$dirty">
          <div ng-message="invalidUser" translate>User does not exist</div>
        </ng-messages>


        <!-- Reset code -->
        <label for="code" class="input-label" translate>Reset code</label>
        <label ng-class="{'label-error': resetForm.code.$invalid && resetForm.code.$dirty && resetForm.code.length}" class="item item-input">
          <input id="code" name="code" ng-model="code" type="text"
          ng-change="resetForm.code.$setValidity('invalidCode',true);"
          required>
        </label>
        <div class="error-message" ng-messages="resetForm.code.$error" ng-if="resetForm.code.$dirty">
          <p ng-message="invalidCode" translate>Invalid reset code</p>
        </div>


        <!-- Password -->
        <label for="password" class="input-label" translate>New password</label>
        <label ng-class="{'label-error': resetForm.password.$invalid && resetForm.password.$dirty}" class="item item-input">
          <input id="password" name="password" ng-model="password" type="password"
          ng-pattern="/^.{6,16}$/" ui-show-password required>
        </label>
        <div class="error-message" ng-messages="resetForm.password.$error" ng-if="resetForm.password.$dirty">
          <p ng-message="required" translate>Password required</p>
          <p ng-message="pattern" translate>Password pattern mismatch</p>
        </div>


        <!-- Password repeat -->
        <button ng-click="resetPassword(resetForm)"
        ng-disabled="resetForm.$invalid"
        class="button button-block button-positive" translate>Next</button>
      </form>
    </div>
  </ion-content>
</ion-view>
