#area_cards {
    display:table;
    color:white;
    height:100%;
    width:100%;
}
#area_cards #area_cards_header {
    display:table-row;
    height:25px;
    font-size:18px;
    font-weight:bold;
}
#area_cards #cardlist {
    height:100%;
    overflow:auto;
}
#area_cards .license {
    border: 1px solid #006993;
    background-color: rgba(255,255,255,0.3);
    margin-bottom: 10px;
    font-size: 15px;
    padding:15px;
    color:#FFFFFF;
    text-align: left;
}

#area_cards .license h1 {
    margin: 0;
    font-size: 20px;
}

#area_cards .license h1 span {
    float: right;
}

#area_cards .license h2 {
    margin: 0 0 10px 0;
    font-size: 1em;
}

#area_cards .license p {
    margin: 4px 0px 4px 0px;
}
#area_cards .license .important {
    color: red;
}
#area_cards .license .button {
    margin: 0;
    padding: 5px;
    font-size: 16px;
    display: inline-block;
    margin-right: 10px;
}

#area_cards .license .rules {
    float: right;
    margin-right: 0px;
}