<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{tech?.t}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="information-page" padding-horizontal padding-bottom>
  <ng-container *ngIf="(tech?.cachedImages | async); let images">
    <ion-slides
      class="full-width"
      *ngIf="images.length > 1; else singleImage"
      loop
    >
      <ion-slide *ngFor="let img of images">
        <img [src]="img" />
      </ion-slide>
    </ion-slides>
    <ng-template #singleImage>
      <img [src]="images[0]" />
    </ng-template>
  </ng-container>
  <ion-toolbar class="full-width" padding>
    <h2>{{tech?.t}}</h2>
  </ion-toolbar>

  <ng-container *ngIf="tech?.d">
    <h3>{{'Technique description' | translate}}</h3>
    <p [innerHtml]="tech?.d"></p>
  </ng-container>
  <ng-container *ngIf="entered && tech?.youtube">
    <h3>{{'YouTube' | translate}}</h3>
    <youtube class="full-width" [url]="tech?.youtube"></youtube>
  </ng-container>
  <ng-container *ngIf="tech?.de">
    <h3>{{'Technique gear' | translate}}</h3>
    <p [innerHtml]="tech?.de"></p>
  </ng-container>
  <ng-container *ngIf="tech?.da">
    <h3>{{'Technique advanced' | translate}}</h3>
    <p [innerHtml]="tech?.da"></p>
  </ng-container>
</ion-content>
