<ion-view title="{{'Profile' | translate}}">
  <ion-content>
    <div class="list">
      <div class="item item-divider" ng-if="organizations.length" translate>
        Administration
      </div>
      <div class="item" ng-repeat="org in organizations" ui-sref="app.admin({id: org.orgid, org: org})">
        <h2>{{org.ot}}</h2>
        <p>{{org.levelname}}</p>
      </div>
      <div class="item item-divider" translate>User information</div>
      <div class="item">
        <h2 translate>Username</h2>
        <p>{{user.username}}</p>
      </div>
      <div class="item">
        <h2 translate>Name</h2>
        <p>{{user.name}}</p>
      </div>
      <div class="item">
        <h2 translate>Email</h2>
        <p>{{user.email}}</p>
      </div>
      <div class="item item-divider" translate>User phone numbers</div>
      <div ng-repeat="number in numbers" class="item">
        <p>{{number.number}}</p>
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        &#8505; {{'Change user info' | translate}}</div>
    </div>
  </ion-content>
</ion-view>
