<ion-view title="{{'Profile' | translate}}">
  <ion-content>
    <div class="list">
      <div class="item item-divider" ng-if="isAdmin">
        <i class="icon ion-locked "></i> {{'Administration' | translate}}
      </div>
      <div class="item" ng-repeat="org in organizations" ui-sref="app.admin.org({id: org.orgid, org: org})">
        <h2>{{org.ot}}</h2>
        <p translate>{{org.levelname}}</p>
      </div>
      <div class="item item-divider">
        <i class="icon ion-person"></i> {{'User information' | translate}}
      </div>
      <div class="item">
        <h2 translate>Username</h2>
        <p>{{user.username}}</p>
      </div>
      <div class="item">
        <h2 translate>Name</h2>
        <p>{{user.name}}</p>
      </div>
      <div class="item">
        <h2 translate>Email</h2>
        <p>{{user.email}}</p>
      </div>
      <div class="item item-divider" ng-if="numbers.length">
        <i class="icon ion-ios-telephone"></i> {{'User phone numbers' | translate}}
      </div>
      <div ng-repeat="number in numbers" class="item">
        <p>{{number.number}}</p>
      </div>
      <div class="item item-divider">
        <i class="icon ion-settings"></i> {{'Settings' | translate}}
      </div>
      <a ng-href="user.profile" class="item" translate>Profile</a>
      <a ng-href="user.mypage" class="item" translate>My Page</a>
      <a ng-if="sessionData.token" class="item" ng-click="logout();" translate>Log out</a>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        &#8505; {{'Change user info' | translate}}
      </div>
    </div>
  </ion-content>
</ion-view>
