#areacards .button {
    background-color: #006993;
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: bold;
    padding: 15px;
    color: #FFFFFF;
    text-align: left;
    overflow:hidden;
}