#area #area-img {
    background-color: green;
    height:100px;
    width:100%;
}

#area #area-info {
    background-color:lightgreen;
    height:800px;
    width:100%;
}

#area #photos img{
    width:100%;
}