.list {
    width: 100%;
    color: white;
    margin-top: 10px;
    font-size: 120%;
    text-align: left;
}
.list-header > *{
    display: inline-block;
}
.list-content {
    font-size: 120%;
    line-height: 1;
    height: calc(100% - 110px);
    overflow: auto;
}

.list-content li {
    margin-bottom: 3px;
}

.list-content .button {
margin-top: 0px;
}

.list-content ul {
    margin-top: 0;
    list-style: none;
    text-align: left;
    padding-left: 0;
}

.list-icon {
    padding-left: 10px;
    vertical-align: middle;
    border: none;
    height: auto;
    width: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    padding: 0;
}

.water_arrow {
    background-image: url("../img/icon_arrow_right.png");
    height: 30px;
    width: 30px;
    float: right;
}
