* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

.event.listening {
    display:block;
}
.event.received {
    display:none;
}

/* Portrait layout (default) */
.app {
    height:100%;                   /* text area height */
    width:100%;                   /* text area width */
    text-align:center;
    padding:15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #5AAAC9;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {}
}

#footer
{
    width: 100%;
    background-color: #99b;
    position: absolute;
    padding: 7px 0 7px 0;
    left: 0;
    bottom: 0;
}



.button {
//006993 - 5AAAC9;
    background-color:#006993;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
    padding: 15px;
    color: #FFFFFF;
}

.text_input {
    box-sizing: border-box;
    width: 100%;
    margin: 0px auto 10px auto;
    height: 40px;
    padding: 0em 0.5em 0em 0.5em;
    border-width:0px;
}

