* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

.event.listening {
    display:block;
}
.event.received {
    display:none;
}

/* Portrait layout (default) */
.app {
    background-image:url(../img/wow.png);
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
    position:relative;
    height:auto;
    min-height:100%;
    width:100%;
    text-align:center;
    padding:15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color:#FFFFFF;
    display:table;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {}
}

#content {
    display:table-row;
}

