#man-update{
    background-color: #5AAAC9;
    background-image: url("../img/man_update.png");
    background-repeat: no-repeat;
    background-size: 50px 50px;
    vertical-align: bottom;
    float: right;
    height: 50px;
    border: none;
    width: 50px;
}