#filter {
    background-color: black;
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: 0.7;
    z-index: 300;
    display: none;
}

#popup {
    position: fixed;
    margin-top: 20%;
    height: auto;
    width: 66%;
    margin-left: 17%;
    margin-right: 17%;
    color: black;
    border: solid black 1px;
    display: none;
    text-transform: none;
    border-radius:3px;
    z-index: 9001;
    opacity: 1;
    background: white;
}
#popup h1 {
    margin-bottom: 5%;
}

#popup span {
    display: block;
}

#info{
    background-color: transparent;
    background-image: url("../img/info_icon.png");
    background-position: center center;
    background-size:cover;
    vertical-align: bottom;
    background-repeat: no-repeat;
    float: right;
    height: 40px;
    border: none;
    width: 40px;
}


