#register-form .text_input {
    position: relative;
    display: inline-block;
    width:100%;
}

#register-form label {
    text-align:left;
    float:left;
    font-size:0.7em;
    font-weight: bold;
    transition: all .2s linear;
    color: #006993;
    margin-bottom:5px;
    height:0px;
    opacity:0;
}

#register-form input:invalid + label {
    opacity:1;
    height:12px;
}
#register .button {
    background-color: #006993;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
    padding: 15px;
    color: #FFFFFF;
}
#register .error-span {
    display: none;
    clear: left;
    background-color: #006993;
    color: orange;
    font-weight: bold;
    font-size: 1em;
    padding: 5px 30px 5px 30px;
}
