<ion-view title="{{::tech.t}}">
<ion-content>
<div class="list">
    <div class="item item-image">
      <ion-slides ng-if="images.length > 1" options="slideOptions" slider="data.slider">
        <ion-slide-page ng-repeat="img in images">
          <div class="slider-image">
            <img img-cache ic-src="{{::image_endpoint + img}}">
          </div>
        </ion-slide-page>
      </ion-slides>
      <img img-cache ic-src="{{::image_endpoint + images[0]}}" ng-if="images.length == 1" />
    </div>
    <div ng-if="tech.youtube">
      <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
      <div class='embed-container'><iframe ng-src="{{youtube(tech.youtube)}}" frameborder='0' allowfullscreen></iframe></div>
    </div>
    <div class="item">
        <h2>{{::tech.t}}</h2>
    </div>
    <div ng-if="tech.d" class="item item-divider">
        <p translate>Technique description</p>
    </div>
    <div ng-if="tech.d" class="item item-body">
        <p ng-bind-html="tech.d | onebr" />
    </div>
    <div ng-if="tech.de" class="item item-divider">
        <p translate>Technique gear</p>
    </div>
    <div ng-if="tech.de" class="item item-body">
        <p ng-bind-html="tech.de | onebr" />
    </div>
    <div ng-if="tech.da" class="item item-divider">
        <p translate>Technique advanced</p>
    </div>
    <div ng-if="tech.da" class="item item-body">
        <p ng-bind-html="tech.da | onebr" />
    </div>

</div>
</ion-content>
</ion-view>
