<ion-view title="{{::tech.t}}">
<ion-content>
<div class="list">
    <div class="item item-image">
      <ion-slides ng-if="images.length > 1" options="slideOptions" slider="data.slider">
        <ion-slide-page ng-repeat="img in images">
          <div class="slider-image">
            <img img-cache ic-src="{{::image_endpoint + img}}">
          </div>
        </ion-slide-page>
      </ion-slides>
      <img img-cache ic-src="{{::image_endpoint + images[0]}}" ng-if="images.length == 1" />
    </div>
    <div class="item">
        <h2>{{::tech.t}}</h2>
    </div>
    <div ng-if="tech.d" class="item item-divider">
        <p translate>Technique description</p>
    </div>
    <div ng-if="tech.d" class="item item-body">
        <p ng-bind-html="tech.d | onebr" />
    </div>
    <div ng-if="tech.youtube" class="item item-divider">
        <p translate>Youtube</p>
    </div>
    <div ng-if="tech.youtube">
      <youtube url="tech.youtube"></youtube>
    </div>
    <div ng-if="tech.de" class="item item-divider">
        <p translate>Technique gear</p>
    </div>
    <div ng-if="tech.de" class="item item-body">
        <p ng-bind-html="tech.de | onebr" />
    </div>
    <div ng-if="tech.da" class="item item-divider">
        <p translate>Technique advanced</p>
    </div>
    <div ng-if="tech.da" class="item item-body">
        <p ng-bind-html="tech.da | onebr" />
    </div>

</div>
</ion-content>
</ion-view>
