<div id="navbar">
	<form id="searchform" action="" onsubmit="return false;">
		<input id="logosearch" type="search" placeholder="Sök fiskevatten"/>
		<input type="submit" style="display: none;"/>
	</form>
	<div id="info"/>
</div>
<div id="map"></div>
<div id="user"></div>
