<form action="" onsubmit="return false;"><input id="logosearch" type="search" placeholder="Sök fiskevatten"/><input type="submit" style="display: none;"/></form>
<div id="map"></div>
<div id="user"></div>
