<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{report.area || ('Reports' | translate)}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="background-abstract">
  <div class="report-header">
    <div class="report-name">
      <ion-icon color="primary" name="contact"></ion-icon>
      {{report.name}}
    </div>
    <div class="report-day">
      <ion-icon color="primary" name="calendar" ios="ios-calendar-outline"></ion-icon>
      {{report.day | date:'mediumDate'}}
    </div>
  </div>

  <img *ngIf="report.img2" class="catch-image" [src]="report.img2" [imageViewer]="report.img2" />

  <p *ngIf="report.obs" class="box comment">{{report.obs}}</p>

  <catches-list [catches]="report.catches"></catches-list>

  <div class="row tech-bait">
    <a
      class="box"
      (click)="openTechnique(report)"
      tappable
      *ngIf="report.technique$ | async as tech"
    >
      <span>{{tech?.t}}</span>
      <span>{{'ui.reports.technique' | translate}}</span>
    </a>

    <div class="box" *ngIf="report.bait$ | async as bait">
      <span>{{bait?.t}}</span>
      <span>{{'ui.reports.bait' | translate}}</span>
    </div>
  </div>
</ion-content>
