page-report-detail {
  .report {
    padding: $content-padding;
    & + & {
      margin-top: 1rem;
    }
  }
  .report-header {
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    padding: 0 0.5rem;
    align-items: center;
    margin-bottom: $content-padding;
    .report-day {
      flex-shrink: 0;
      font-size: 1.6rem;
    }
  }
  img {
    display: block;
  }
  .box {
    .md & {
      border-radius: $list-inset-md-border-radius;
      box-shadow: $card-md-box-shadow;
    }

    .ios & {
      border-radius: $list-inset-ios-border-radius;
      box-shadow: $card-ios-box-shadow;
    }
    background: white;
    padding: 1rem;
  }
  .row {
    display: flex;
    justify-content: space-between;
  }
  .tech-bait .box {
    flex-basis: calc(50% - 0.5rem);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    span {
      display: block;
      &:first-child {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.35;
        padding: 4px 0;
      }
      &:last-child {
        color: map-get($colors, dark);
      }
    }
  }

  .catch-image {
    width: 100%;
    @extend .box;
    padding: 0;
    margin: 1rem 0;
    max-height: 40vh;
    object-fit: cover;
  }

  .box.comment {
    padding: $content-padding;
    font-size: 1.6rem;
    border-radius: 16px;
    border-top-left-radius: 0;
  }
}
