<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{'Fishing Permit' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="background" ion-fixed *ngIf="permit" [ngClass]="'bg-' + permit?.validity"></div>
  <app-permit *ngIf="permit" [permit]="permit"></app-permit>
</ion-content>
<ion-footer>
  <button full ion-button color="secondary" (click)="openRules()" icon-left *ngIf="permit?.rule_t" class="footer-button">
    <ion-icon name="document"></ion-icon>
    {{'Rules' | translate}}
  </button>
</ion-footer>
