<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ 'Permit' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <app-permit *ngIf="permit" [permit]="permit"></app-permit>

  <div padding *ngIf="failed" class="text-center">
    <h3 [innerHtml]="'errors.permit.failedHeader' | translate"></h3>
    <p
      class="preserve-newlines"
      [innerHtml]="'errors.permit.failedBody' | translate"
    ></p>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar *ngIf="permit && (permit.rule_t || permit.code)">
    <ion-buttons start>
      <button
        full
        ion-button
        solid
        color="secondary"
        (click)="openRules()"
        icon-start
        *ngIf="permit?.rule_t"
        class="footer-button"
      >
        <ion-icon name="document"></ion-icon>
        {{ 'Rules' | translate }}
      </button>
      <button
        full
        ion-button
        solid
        icon-start
        *ngIf="permit?.code"
        (click)="openCatchReport()"
        class="footer-button"
      >
        <ion-icon name="ifiske-fish"></ion-icon>
        {{ 'Catch report' | translate }}
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
