<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{'Profile' | translate}}</ion-title>
    <ion-buttons start>
      <button ion-button (click)="close()">{{'Close' | translate}}</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="outer-content">
  <ion-list>
    <ng-container *ngIf="isAdmin">
      <ion-list-header>
        <ion-icon name="locked"></ion-icon>
        {{'Administration' | translate}}
      </ion-list-header>
      <ion-item *ngFor="let org of organizations">{{org.ot}}</ion-item>
    </ng-container>

    <user-information *ngIf="user" [user]="user"></user-information>

    <ng-container *ngIf="numbers?.length">
      <ion-list-header>
        <ion-icon name="telephone"></ion-icon>
        {{'User phone numbers' | translate}}
      </ion-list-header>
      <ion-item *ngFor="let number of numbers">
        <p>{{number.number}}</p>
      </ion-item>
    </ng-container>

    <ng-container *ngIf="user">
      <ion-list-header>{{'Settings' | translate}}</ion-list-header>
      <button ion-item (click)="changePassword()">{{'Change password' | translate}}</button>
      <a ion-item [href]="user.profile" target="_system">{{'Profile' | translate}}</a>
      <a ion-item [href]="user.mypage" target="_system">{{'My Page' | translate}}</a>
      <button ion-item (click)="logout()">{{'Log out' | translate}}</button>
    </ng-container>
  </ion-list>
  <div [innerHTML]="'Change user info' | translate" padding></div>
  <!--&#8505; {{'Change user info' | translate}}-->

</ion-content>
