<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{'Profile' | translate}}</ion-title>
    <ion-buttons start>
      <button ion-button (click)="close()">{{'Close' | translate}}</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="outer-content">
  <ion-list>
    <ng-container *ngIf="isAdmin">
      <ion-list-header>
        <ion-icon name="locked"></ion-icon>
        {{'Administration' | translate}}
      </ion-list-header>
      <ion-item *ngFor="let org of organizations">{{org.ot}}</ion-item>
    </ng-container>

    <ng-container *ngIf="user">
      <ion-list-header>{{'User information' | translate}}</ion-list-header>
      <ion-item>
        <h2>{{'Username' | translate}}</h2>
        <p>{{user.username}}</p>
      </ion-item>

      <ion-item>
        <h2>{{'Name' | translate}}</h2>
        <p>{{user.name}}</p>
      </ion-item>

      <ion-item>
        <h2>{{'Email' | translate}}</h2>
        <p>{{user.email}}</p>
      </ion-item>
    </ng-container>

    <ng-container *ngIf="numbers?.length">
      <ion-list-header>
        <ion-icon name="telephone"></ion-icon>
        {{'User phone numbers' | translate}}
      </ion-list-header>
      <ion-item *ngFor="let number of numbers">
        <p>{{number.number}}</p>
      </ion-item>
    </ng-container>

    <ng-container *ngIf="user">

      <ion-list-header>
        <ion-icon name="settings"></ion-icon>
        {{'Settings' | translate}}
      </ion-list-header>
      <a ion-item [href]="user.profile">{{'Profile' | translate}}</a>
      <a ion-item [href]="user.mypage">{{'My Page' | translate}}</a>
      <button ion-item (click)="logout()">{{'Log out' | translate}}</button>
    </ng-container>
  </ion-list>
  <div [innerHTML]="'Change user info' | translate" padding></div>
  <!--&#8505; {{'Change user info' | translate}}-->

</ion-content>
