app-permit {
  &[ion-fixed] {
    width: 100%;
  }
  display: block;
  height: 100%;
  position: relative;
  overflow: hidden;
  transform: translateZ(0);

  h2 {
    margin-top: 0;
    font-size: 1.6rem;
  }
  h3 {
    margin-top: 0;
    font-size: 2rem;
  }

  .logo {
    display: block;
    margin: 1rem auto;
    width: 240px;
    min-width: 120px;
    max-width: 50%;
    border-radius: 1rem;
  }

  .permit-title {
    margin-top: 1em;
  }
  .permit-title.value {
    text-align: center;
  }

  @mixin animated-bg($opacity: 1) {
    background-image: repeating-linear-gradient(
      to right,
      transparent,
      #14eaec,
      transparent
    );
    background-size: 250%;
    background-position: inherit;
    background-attachment: fixed;
  }
  .scroll {
    background-position: inherit;
  }
  h3 {
    font-weight: normal;
    font-size: 1.4rem;
    margin: 2rem 0 0 0;
    color: rgba(black, 0.87);
    letter-spacing: 0.1ch;
  }
  p {
    margin: 0.125rem 0 0 0;
  }
  .value {
    font-size: 1.6rem;
    font-weight: bold;
    color: black;
    letter-spacing: 0.05ch;
  }
  .box-wrapper {
    display: flex;
    align-items: center;
    justify-content: stretch;
  }
  .box:not(.box-from) + .box {
    margin-left: 1rem;
  }
  .box {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    flex: 1;
    text-align: center;

    &.box-from {
      position: relative;
      $width: 1rem;
      margin-right: $width;
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -$width;
        height: 10px;
        width: $width;
        background: inherit;
      }
    }
  }
  address {
    h3 {
      margin: 0;
    }
    .icon {
      vertical-align: middle;
    }
    font-style: inherit;
    h3 {
      font-size: inherit;
    }
  }

  .permit-info {
    margin-top: 2rem;
  }

  .top {
    background-position: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      margin: 0;
      word-break: break-word;
    }
  }

  @mixin permit-colors($color) {
    .permit-color {
      color: $color;
    }
    .bg-white::before {
      background-color: $color;
    }
    .box {
      background-color: rgba($color, 0.25);
    }
  }

  .permit-active {
    $color: color($colors, secondary);
    @include permit-colors($color);
  }

  .permit-inactive {
    $color: color($colors, gold);
    @include permit-colors($color);
  }

  .permit-expired,
  .permit-revoked {
    $color: color($colors, danger);
    @include permit-colors($color);
  }

  .fineprint {
    margin-top: 3rem;
    font-family: monospace;
    font-size: 15px;
    white-space: pre-line;
    text-align: start;
  }

  img.revoked {
    pointer-events: none;
    max-width: 85%;
    max-height: 85%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 20px auto;
    z-index: 10;
    opacity: 0.8;
  }

  $corner-size: 6rem;

  .bg-white {
    background-position: inherit;
    $border-width: 0.5rem;
    padding: $border-width + 1rem;
    .md & {
      border-radius: $list-inset-md-border-radius;
      box-shadow: $card-md-box-shadow;
    }

    .ios & {
      border-radius: $list-inset-ios-border-radius;
      box-shadow: $card-ios-box-shadow;
    }

    .wp & {
      border-radius: $list-inset-wp-border-radius;
    }
    margin: $content-padding 0;
    overflow: hidden;
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      color: transparent;
      @include animated-bg();
      @include clip-path-frame($border-width);
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: $border-width;
      left: $border-width;
      right: $border-width;
      bottom: $border-width;
      z-index: -1;
      @include blurred-background(0.9, 0.75);
    }
  }
  .back {
    text-align: right;
  }
  .flip {
    height: 100%;
    width: calc(100% - #{$content-padding * 2});
    margin: 0 auto;
    overflow: auto;
    position: relative;
    transform-style: preserve-3d;
    transform-origin: 75% center;
    perspective: 200vw;
    perspective-origin: center 25%;
    & > * {
      backface-visibility: hidden;
      position: absolute;
      width: 100%;
    }
  }

  .renew-button {
    display: block;
    margin: 0 auto;
    white-space: normal;
  }

  .admin-bottom {
    h3 {
      width: 100%;
    }
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
    .fab {
      font-size: 28px;
    }
  }
  .flip-button {
    float: left;
  }

  $black-transparent: rgba(0, 0, 0, 0.4);
  $gradient: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    $black-transparent 10px,
    $black-transparent 20px
  );

  .background {
    height: calc(100% + 60px);
    width: calc(100% + 60px);
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
  }

  .bg-active {
    background-color: color($colors, secondary);
  }

  .bg-inactive {
    background-color: color($colors, gold);
  }

  .bg-expired,
  .bg-revoked {
    background-color: color($colors, danger);
  }

  .bg-active,
  .bg-expired,
  .bg-inactive,
  .bg-revoked {
    background-image: $gradient;
    background-position: 0 0;
    background-size: 100%;
    animation: 2s linear bg infinite;
    transition: background 1s linear;
  }

  @keyframes bg {
    from {
      transform: translateY(-28.5px);
    }

    to {
      transform: translateY(0);
    }
  }
}
