<div class="background" [ngClass]="'bg-' + permit.validity"></div>
<h2 *ngIf="permit === null">{{ 'The permit does not exist' | translate }}</h2>
<div *ngIf="permit" class="flip">
  <div class="bg-white front" [@showFront]="show" padding>
    <button class="corner" (click)="flip()"><ion-icon name="refresh"></ion-icon></button>
    <div class="scroll">
      <img *ngIf="permit.rev" src="assets/img/makulerad.png" class="revoked" />

      <h2 *ngIf="permit.ot" class="permit-title">{{ permit.ot }}</h2>
      <img *ngIf="org?.logo" class="logo permit" [icSrc]="org.logo" />
      <h3 *ngIf="permit.t" class="permit-title">{{ permit.t }}</h3>

      <app-qr
        *ngIf="permit.qr"
        [image]="permit.qr"
        [color]="permit.validity === 'active' ? 'green' : permit.validity === 'revoked' ? 'gray' : 'red'"
        (click)="animateQR()"
        [ngClass]="animatingQR && 'heartBeat'"
      ></app-qr>

      <p class="permit-code" [ngClass]="'license-' + permit.validity">{{ permit.code }}</p>

      <p *ngIf="permit.subt">{{ permit.subt }}</p>

      <ng-container *ngIf="permit.validity === 'expired'">
        <h3>{{ 'Permit has expired' | translate }}</h3>
        <button ion-button color="secondary" *ngIf="!admin" (click)="openProductInBrowser()">
          {{ 'Renew permit' | translate }}
        </button>
      </ng-container>

      <h3 *ngIf="permit.validity === 'inactive'">{{ 'Permit not yet valid' | translate }}</h3>

      <p [translate]="'Issued to'" [translateParams]="permit.fullname | mkObject: 'name'"></p>

      <p *ngIf="permit.info">{{ permit.info }}</p>

      <ng-container *ngIf="admin">
        <p>{{ 'Phone number' | translate }}: {{ permit.tel }}</p>
        <p [innerHTML]="'Issued at' | translate: (permit.at * 1000 | date: 'short' | mkObject: 'date')"></p>
      </ng-container>

      <p [innerHTML]="'Valid from' | translate: (permit.fr * 1000 | date: 'short' | mkObject: 'date')"></p>
      <p [innerHTML]="'Valid until' | translate: (permit.to * 1000 | date: 'short' | mkObject: 'date')"></p>

      <p *ngIf="!admin">
        <button ion-button icon-start *ngIf="permit.code" (click)="openCatchReport()">
          <ion-icon name="ifiske-fish"></ion-icon>
          {{ 'Catch report' | translate }}
        </button>
        <a ion-button color="dark" icon-start *ngIf="permit.pdf" [href]="serverLocation + permit.pdf" target="_system">
          <ion-icon name="document"></ion-icon>
          {{ 'PDF' | translate }}
        </a>
      </p>
    </div>
  </div>

  <div class="bg-white back" [@showBack]="show" padding>
    <button class="corner" (click)="flip()"><ion-icon name="refresh"></ion-icon></button>
    <div class="scroll">
      <p *ngIf="permit.fine" class="fineprint">{{ permit.fine }}</p>
      <ng-container *ngIf="admin">
        <button *ngIf="!permit.rev" (click)="revoke.emit(true)" ion-button icon-left color="danger">
          <ion-icon name="document"></ion-icon>
          {{ 'Revoke' | translate }}
        </button>
        <button *ngIf="permit.rev" (click)="revoke.emit(false)" ion-button icon-left color="secondary">
          <ion-icon name="document"></ion-icon>
          {{ 'Unrevoke' | translate }}
        </button>
        <app-permit-log [permit]="permit"></app-permit-log>
      </ng-container>
    </div>
  </div>
</div>
