<div class="background" [ngClass]="'bg-' + permit.validity"></div>
<h2 *ngIf="permit === null">{{ 'The permit does not exist' | translate }}</h2>
<div *ngIf="permit" class="flip" #backgroundPosWrapper [ngClass]="'permit-' + permit.validity">
  <div class="bg-white front" [@showFront]="show">
    <div class="scroll">
      <img *ngIf="permit.rev" src="assets/img/makulerad.png" class="revoked" />

      <div class="top">
        <h2 *ngIf="permit.t" class="permit-title">{{ permit.t }}</h2>
        <permit-code [code]="permit.code" [class]="permit.validity"></permit-code>
      </div>

      <ng-container *ngIf="permit.subt">
        <p class="permit-title value">{{ permit.subt }}</p>
      </ng-container>

      <app-qr
        *ngIf="permit.qr"
        [image]="permit.qr"
        [color]="permit.validity === 'active' ? 'green' : permit.validity === 'revoked' ? 'gray' : 'red'"
      ></app-qr>

      <address>
        <h3 class="value">{{ permit.fullname }}</h3>
        <p *ngIf="permit.adr || permit.city">
          <span>{{ permit.adr }},</span>
          <span>{{ permit.zip }}</span>
          <span>{{ permit.city }}</span>
        </p>
        <p *ngIf="permit.tel">
          <ion-icon name="call"></ion-icon>
          {{ permit.tel }}
        </p>
        <p *ngIf="permit.email">
          <ion-icon name="mail"></ion-icon>
          {{ permit.email }}
        </p>
      </address>

      <ng-container *ngIf="permit.validity === 'expired'">
        <p class="value permit-color">{{ 'Permit has expired' | translate }}</p>
        <button ion-button class="renew-button" color="secondary" *ngIf="!admin" (click)="openProductInBrowser()">
          {{ 'Renew permit' | translate }} {{ permit.t }}
        </button>
      </ng-container>

      <h3 *ngIf="permit.validity === 'inactive'">{{ 'Permit not yet valid' | translate }}</h3>

      <h3>{{ 'ui.permit.validBetween' | translate }}</h3>
      <p class="box-wrapper">
        <span class="box box-from">
          {{ permit.fr * 1000 | date: 'longDate' }}<br />
          {{ permit.fr * 1000 | date: 'shortTime' }}
        </span>
        <span class="box permit-bg">
          {{ permit.to * 1000 | date: 'longDate' }}<br />
          {{ permit.to * 1000 | date: 'shortTime' }}
        </span>
      </p>

      <p class="permit-info" *ngIf="permit.info">{{ permit.info }}</p>

      <h3>{{ 'ui.permit.purchased' | translate }}</h3>
      <p>
        <span class="box">
          {{ permit.at * 1000 | date: 'longDate' }}
          {{ permit.at * 1000 | date: 'shortTime' }}
        </span>
        <span class="box">{{ permit.price }} SEK</span>
      </p>

      <a
        ion-button
        color="dark"
        icon-start
        *ngIf="!admin && permit.pdf"
        [href]="serverLocation + permit.pdf"
        target="_system"
      >
        <ion-icon name="document"></ion-icon>
        {{ 'PDF' | translate }}
      </a>

      <img *ngIf="org?.logo" class="logo permit" [icSrc]="org.logo" />

      <div class="admin-bottom" *ngIf="admin">
        <h3>{{ 'ui.permit.admin.header' | translate }}</h3>
        <button ion-fab (click)="addPermitCheck()" color="light">{{ permit.ctrl }}</button>
        <button ion-button (click)="flip()" icon-end>
          {{ 'ui.permit.admin.more' | translate }}
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="bg-white back" *ngIf="admin" [@showBack]="show">
    <div class="scroll">
      <button ion-button class="flip-button" (click)="flip()" icon-start>
        <ion-icon name="arrow-back"></ion-icon>
        {{ 'ui.general.back' | translate }}
      </button>
      <p *ngIf="permit.fine" class="fineprint">{{ permit.fine }}</p>

      <ng-container *ngIf="admin">
        <button *ngIf="!permit.rev" (click)="revoke.emit(true)" ion-button icon-left color="danger">
          <ion-icon name="document"></ion-icon>
          {{ 'Revoke' | translate }}
        </button>
        <button *ngIf="permit.rev" (click)="revoke.emit(false)" ion-button icon-left color="secondary">
          <ion-icon name="document"></ion-icon>
          {{ 'Unrevoke' | translate }}
        </button>
        <app-permit-log [permit]="permit"></app-permit-log>
      </ng-container>
    </div>
  </div>
</div>
