page-areas-detail-permit {
  .empty {
    text-align: center;
    font-size: 1.3em;
  }

  .card-header {
    display: flex;
    align-items: center;
  }

  .card hr {
    height: 1px;
  }

  .card-header h2 {
    line-height: 1.4;
    margin: 0;
    margin-left: 0.5rem;
    white-space: normal;
    font-size: 1.2em;
    font-weight: bold;
  }

  .note {
    padding: 1.6rem;
    text-align: center;
  }

  .purchase-buttons {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    @media screen and (max-width: 400px) {
      & > h3 {
        flex-basis: 100%;
        font-size: 1.1em;
      }
    }

    .button {
      padding: 2rem 2.6rem;
    }
  }

  .rules-button {
    margin-right: auto;
  }
}
