<ion-content class="background-abstract">
  <section class="note" *ngIf="area?.note">
    <h2>{{'Information' | translate}}</h2>
    <div [innerHtml]="area.note | formatInfo"></div>
  </section>
  <ion-card *ngFor="let product of products">
    <ion-card-header>
      <ion-icon name="ifiske-permit" class="large"></ion-icon>
      <h2>{{product.t}}</h2>
      <span class="right">{{product.price}} SEK</span>
    </ion-card-header>
    <ion-card-content>
      <section *ngIf="product.im">
        <ion-icon name="alert"></ion-icon>
        <div [innerHtml]="product.im | formatInfo"></div>
      </section>
      <section *ngIf="product.no">
        <div [innerHtml]="product.no | formatInfo"></div>
      </section>
      <hr />
      <section class="purchase-buttons">
        <button ion-button icon-left color="primary" *ngFor="let type of product.methods" (click)="buy(product, type)">
          <ion-icon [name]="type.icon"></ion-icon>
          {{type.name | translate}}
        </button>
      </section>
    </ion-card-content>
  </ion-card>
</ion-content>
