<ion-header>
  <tab-navbar [largeTitle]="true">{{area?.t}}</tab-navbar>
</ion-header>

<ion-content class="background-abstract">
  <section class="note" *ngIf="area?.note">
    <h2>{{'Information' | translate}}</h2>
    <div [innerHtml]="area.note | formatInfo"></div>
  </section>

  <h2 padding-horizontal class="empty" *ngIf="!products?.length">{{'errors.area.notSelling' | translate}}</h2>

  <ion-card *ngFor="let product of products">
    <ion-card-header>
      <ion-icon name="ifiske-permit" class="large"></ion-icon>
      <h2>{{product.t}}</h2>
      <span class="right">{{product.price}} SEK</span>
    </ion-card-header>
    <ion-card-content>
      <section *ngIf="product.im">
        <ion-icon name="alert"></ion-icon>
        <span [innerHtml]="product.im | formatInfo"></span>
      </section>
      <section *ngIf="product.no" [innerHtml]="product.no | formatInfo"></section>
      <hr />
      <section class="purchase-buttons">
        <button ion-button icon-left color="secondary" class="rules-button" (click)="openRules(product)">
          {{'Rules' | translate}}
        </button>
        <button ion-button icon-left color="primary" *ngFor="let type of product.methods" (click)="buy(product, type)">
          <ion-icon [name]="type.icon"></ion-icon>
          {{(product.methods.length === 1 ? 'Purchase' : type.name) | translate}}
        </button>
      </section>
    </ion-card-content>
  </ion-card>
</ion-content>
