@mixin level($level) {
  transform: translateX(-1 * (100% - 20 * $level));
}

fish-level {
  border: 1px solid map-get($colors, dark);
  border-radius: 10px;
  clear: both;
  // contain: content;
  display: block;
  height: 10px;
  margin: auto 0 0 auto;
  // overflow: hidden;
  position: relative;
  width: 100%;
  padding: 2px;

  &.show-icon {
    width: calc(100% - 20px);
    &::before {
      color: color($colors, primary);
      content: '\e902';
      display: block;
      position: absolute;
      font-family: ifiske;
      left: -20px;
      top: -6px;
    }
  }
  .wrapper {
    border-radius: 10px;
    overflow: hidden;
  }
  .level {
    width: 100%;
    display: block;
    height: 4px;
    padding: 0;
    border-radius: 10px;
    animation: 0.5s level;
    animation-timing-function: cubic-bezier(0.68, -0.35, 0.27, 1.35);
    transition: 0.5s cubic-bezier(0.68, -0.35, 0.27, 1.35);

    &-1 {
      background: map-get($colors, danger);
    }

    &-2 {
      background: map-get($colors, gold);
    }

    &-3,
    &-4,
    &-5 {
      background: map-get($colors, secondary);
    }

    @for $i from 1 through 5 {
      &-#{$i} {
        @include level($i);
      }
    }
  }
}

@keyframes level {
  0% {
    width: 0%;
  }
}
