$gradient: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    rgba(0,0,0,0.4) 10px,
    rgba(0,0,0,0.4) 20px
);

img.revoked {
    width: 85%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 11% auto;
    z-index: 10;
}

.bg-valid {
    background: $gradient, $balanced;
    animation: 2s linear bg infinite;
}

.bg-inactive {
    background: $gradient, $energized;
    animation: 2s linear bg infinite;
}

.bg-expired,
.bg-revoked {
    background: $gradient, $assertive;
    animation: 2s linear bg infinite;
}
@keyframes bg {
    from {
        background-position-y: 0;
    }
    to {
        background-position-y: 28.5px;
    }
}

.bg-white {
    background: rgba(255, 255, 255, .9);
    position: relative;
}

.bg-valid,
.bg-expired,
.bg-inactive,
.bg-revoked {
    transition: background-color 1s linear;
}
