$gradient: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    rgba(0,0,0,0.4) 10px,
    rgba(0,0,0,0.4) 20px
);

img.revoked {
    pointer-events: none;
    width: 85%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 11% auto;
    z-index: 10;
}

.bg-active,
.bg-expired,
.bg-inactive,
.bg-revoked {
    background: $gradient;
    background-size: calc(100% + 30px) calc(100% + 30px);
    animation: 2s linear bg infinite;
    transition: background 1s linear;
}

.bg-active {
    background-color: $balanced;
}

.bg-inactive {
    background-color: $energized;
}

.bg-expired,
.bg-revoked {
    background-color: $assertive;
}
@keyframes bg {
    from {
        background-position-y: -28.5px;
    }

    to {
        background-position-y: 0;
    }
}

.bg-white {
    background: rgba(255, 255, 255, .9);
    position: relative;
}


.active {
    color: $balanced;
}

.inactive {
    color: $energized;
}

.horizontal-list {
    $size: 150px;
    $items: 4;

    .list {
        width: $size * $items;
        text-align: center;

        .item + .item {
            margin-left: .5em;
        }
        .item {
            vertical-align: top;
            text-align: center;
            overflow: hidden;
            display: inline-block;
            width: calc(#{100% / $items} - .5em);
            height: 100px;
            border-radius: 4px;
            border-color: $dark;

            h3 {
                white-space: normal;
            }
            span {
                position: absolute;
                line-height: 2em;
                bottom: 0;
                left: 0;
                right: 0;
                text-align: center;
                display: block;
                font-size: 2em;
                font-weight: bold;
            }
        }
    }
}


.input-button {
    padding: 0 0 0 16px;

    button {
        padding: 0 1em;
        border: 0;
        min-width: inherit;
        border-radius: 0;
    }
}

.button.button.button-text-dark {
    color: $dark;
    font-size: 1.5em;
    font-weight: bold;
}
