.selling {
    color: $positive;
}
.wrap.wrap {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    white-space: normal;
}

.item.item-thumbnail-left .fish-image {
    max-width: 112px;
    height: unset;
    top: 50%;
    transform: translateY(-50%);
}
.found-fish {
    padding-left: 130px;
}
