.wrap-grid {
    display: flex;
    flex-wrap: wrap;

    & > div {
        &.c-50 {
            width: 50%;
        }

        &.c-33 {
            width: 33.3333%;
        }

        &.c-25 {
            width: 25%;
        }
    }
}

.fishcard {
    margin: 0 !important;
    border-radius: 0;
    border-left: 0;
    border-top: 0;
    padding: 10px;

    &:nth-child(2n) {
        border-right-color: transparent;
    }

    .item-title {
        padding-bottom: 0;
        padding-top: 0;
    }
}

.lvl {
    display: block;
    clear: both;
    overflow: hidden;
    height: 10px;
    border: 1px solid $dark;
    border-radius: 10px;
    padding: 2px;
    width: 100%;
    margin: 0 auto;

    &::before {
        content: '';
        display: block;
        height: 4px;
        padding: 0;
        border-radius: 10px;
        animation: .5s level;
        animation-timing-function: cubic-bezier(.68, -.35, .27, 1.35);
        transition: .5s cubic-bezier(.68, -.35, .27, 1.35);
    }

    &.lvl-1::before {
        width: 20%;
        background: $assertive;
    }

    &.lvl-2::before {
        width: 40%;
        background: $energized;
    }

    &.lvl-3::before {
        width: 60%;
        background: $balanced;
    }

    &.lvl-4::before {
        width: 80%;
        background: $balanced;
    }

    &.lvl-5::before {
        width: 100%;
        background: $balanced;
    }
}

@keyframes level {
    0% {
        width: 0%;
    }
}
