.wrap-grid {
    display: flex;
    flex-wrap: wrap;

    & > div {
        &.c-50 {
            width: 50%;
        }

        &.c-33 {
            width: 33.3333%;
        }

        &.c-25 {
            width: 25%;
        }
    }
}

.fishcard {
    margin: 0 !important;
    border-radius: 0;
    border-left: 0;
    border-top: 0;
    padding: 10px;

    &:nth-child(2n) {
        border-right-color: transparent;
    }

    .item-title {
        padding-bottom: 0;
        padding-top: 0;
    }
}

.lvl {
    display: block;
    clear: both;
    height: 10px;
    border: 1px solid $dark;
    border-radius: 10px;
    padding: 2px;
    width: 100%;
    margin: auto 0 0 auto;
    position: relative;

    &.show-icon {
        width: calc(100% - 20px);
        &::before {
        content: "\e902";
        display: block;
        position: absolute;
        font-family: ifiske;
        left: -20px;
        top: -6px;
    }
    }
    &::after {
        content: '';
        display: block;
        height: 4px;
        padding: 0;
        border-radius: 10px;
        animation: .5s level;
        animation-timing-function: cubic-bezier(.68, -.35, .27, 1.35);
        transition: .5s cubic-bezier(.68, -.35, .27, 1.35);
    }

    &.lvl-1::after {
        width: 20%;
        background: $assertive;
    }

    &.lvl-2::after {
        width: 40%;
        background: $energized;
    }

    &.lvl-3::after {
        width: 60%;
        background: $balanced;
    }

    &.lvl-4::after {
        width: 80%;
        background: $balanced;
    }

    &.lvl-5::after {
        width: 100%;
        background: $balanced;
    }
}

@keyframes level {
    0% {
        width: 0%;
    }
}
