@font-face {
    font-family: 'ifiske';
    src: url('fonts/ifiske.ttf?m9yonv') format('truetype');
    font-weight: normal;
    font-style: normal;
}

i.icon {
    font-family: 'ifiske';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    font-smoothing: antialiased;
}

.icon-license:before {
    content: "\e90c";
    /* TODO: Should fix svg instead */
    font-size: 17px !important;
}
.icon-bait:before {
    content: "\e900";
}
.icon-favorite:before {
    content: "\e901";
}
.icon-fish:before {
    content: "\e902";
}
.icon-fishingareas:before {
    content: "\e903";
}
.icon-hamburger:before {
    content: "\e904";
}
.icon-legal:before {
    content: "\e905";
}
.icon-logout:before {
    content: "\e906";
}
.icon-mail:before {
    content: "\e907";
}
.icon-map:before {
    content: "\e908";
}
.icon-paper:before {
    content: "\e909";
}
.icon-user:before {
    content: "\e90a";
}
.icon-writereport:before {
    content: "\e90b";
}
