language-switcher {
    text-align: center;

    a {
        color: black;
        font-size: 20px;
        font-weight: bold;
    }
}

.language-button {
    padding: 1em;
    text-align: center;
    &:active {
        background-color: rgba(0,0,0,0.1);
    }

    img {
        display: block;
        margin: 0 auto;
    }
}

.cont {
    position: relative;
    display: flex;
    justify-content: center;
}
.swap-animation {
    display: block;
    position: absolute;
    right: 0;
    left: 0;
}
.swap-animation {
    transition: .8s ease-in-out all;
}
.swap-animation.ng-enter-prepare,
.swap-animation.ng-enter {
    transform: translate3d(0, -40px, 0);
}
.swap-animation.ng-enter-active {
    transform: translate3d(0, 0, 0);
}
.swap-animation.ng-leave-prepare,
.swap-animation.ng-leave {
    transform: translate3d(0, 0, 0);
}
.swap-animation.ng-leave-active {
    transform: translate3d(0, 40px, 0);
}
