language-switcher {
    text-align: center;

    a {
        color: black;
        font-size: 20px;
        font-weight: bold;
    }
}

.language-button {
    padding: 1em;
    text-align: center;
    &:active {
        background-color: rgba(0,0,0,0.1);
    }

    img {
        display: block;
        margin: 0 auto;
    }
}

.cont {
    position: relative;
    display: flex;
    justify-content: center;
}
.swap-animation {
    display:block;
    position: absolute;
}
.swap-animation.ng-enter, .swap-animation.ng-leave {
    transition: .8s ease-in-out all;
}
.swap-animation.ng-enter {
    transform: translateY(-40px);
}
.swap-animation.ng-enter-active {
    transform: translateY(0px);
}
.swap-animation.ng-leave {
    transform: translateY(0px);
}
.swap-animation.ng-leave-active {
    transform: translateY(40px);
}
