.qr {
    display: block;
    margin: 0 auto;
    height: 192px;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-position: center center;
}

.logo {
    float: right;
    width: 60px;
    display: block;

}

.qr + h2 {
    margin-top: 0;

}
