.input-label {
    width: 100%;
    padding-left: 6px;
    max-width: none;
}

.label-error {
    border-bottom: 2px solid $energized;
}

.register-list {
    margin-top: 10px;
}

#register-button {
    margin-top: 15px;
}

#register-disclaimer {
    text-align: center;
    margin: 10px 5px;
}

.register-retry {
    margin-top: 2em;
}
