<ion-view title="{{'Admin' | translate}}" cache-view="false">
  <ion-content>
    <div class="padding">
      <img ng-if="org.info.logo" class="logo product" ng-src="{{ifiskeUrl}}{{'/'+org.info.logo}}">
      <div style="display: inline-block; width: calc(100% - {{org.info.logo ? '70px': '0px'}})">
        <button ng-if="orgs.length > 1" class="button button-block button-stable icon-right button-outline ion-arrow-down-b button-text-dark" ng-click="pickOrg($event)">{{org.ot}}</button>
        <h2 ng-if="orgs.length < 2" class="text-center" >{{org.ot}}</h2>
      </div>
    </div>

    <ion-scroll direction="x" zooming="false" scrollbar-x="false" class="horizontal-list">
      <div class="list">
        <div class="item" ng-repeat="license in licenseTypes" ui-sref="^.licenses({license: license, name: license.name})">
          <h3>{{license.name | translate}}</h3>
          <span class="{{license.class}}">{{license.items.length}}</span>
        </div>
      </div>
    </ion-scroll>

    <div class="padding">

      <p>Tyvärr fungerar inte statistiken över sålda fiskekort för tillfället. Vi hänvisar till ifiske.se för att se aktuell försäljningsstatistik.</p>
      <!--admin-chart chart-organization-id="chartOrganizationId"></admin-chart-->

      <h3 translate>Check code</h3>


      <hr/>
      <form class="item item-input input-button" ng-submit="checkLicense($event, this)" name="checkLicenseForm">
        <input type="tel" name="code" ng-model="_notused" placeholder="{{'Check license placeholder' | translate}}" class="license-input" ng-pattern="/\d{8}/" required>
        <button class="button button-balanced" type="submit" ng-disabled="checkLicenseForm.$invalid" translate>
          Check
        </button>
      </form>

      <a class="button button-block button-balanced" ng-click="scanQR()"><i class="icon ion-camera"></i>&nbsp;{{'Scan QR code' | translate}}</a>

      <hr/>

      <p>
        {{'More in control panel' | translate}}
        <a href="{{ifiskeUrl}}/index.php/kontrollpanelen" class="button button-block button-positive" target="_blank" translate>Open Control panel</a>
      </p>
    </div>

  </ion-content>
</ion-view>
