<ion-view title="{{'Admin' | translate}}">
  <ion-content>
    <div class="padding">
      <img ng-if="org.info.logo" class="logo product" ng-src="{{image_endpoint}}{{'/'+org.info.logo}}">
      <h2 class="text-center" ng-click="pickOrg($event)">{{org.ot}}<i class="icon ion-arrow-down-b"></i></h2>
    </div>

    <ion-scroll direction="x" zooming="false" scrollbar-x="false" class="horizontal-list">
      <div class="list">
        <div class="item" ng-repeat="license in licenseTypes" ui-sref="^.licenses({license: license, name: license.name})">
          <h3>{{license.name | translate}}</h3>
          <p>{{license.items.length}}</p>
        </div>
      </div>
    </ion-scroll>

    <div class="padding">

    <canvas id="bar" class="chart chart-bar" chart-data="chart.data" chart-labels="chart.labels" chart-series="chart.series" chart-options="chart.options" chart-dataset-override="chart.datasetOverride" chart-click="chart.onClick"></canvas>

      <label class="item item-input">
        <input type="search" placeholder="{{'Check license' | translate}}" ng-keypress="checkLicense($event)">
      </label>

      <p>
        {{'More in control panel' | translate}}
        <a href="{{image_endpoint}}/index.php/kontrollpanelen" class="button button-block button-positive" target="_blank" translate>Open Control panel</a>
      </p>
    </div>

  </ion-content>
</ion-view>
