page-home {
  .hidden {
    display: none;
  }
  .scroll-content {
    display: flex;
    flex-direction: column;
  }
  .list {
    flex-shrink: 0;
  }
  ads {
    margin-top: auto;
  }
  .toolbar-title {
    height: 100%;
  }
  .title-md {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .item.item-md.search {
    padding-left: 16px;
  }
  .header-logo {
    height: 100%;
  }
  .item .icon {
    width: 28px;
  }
  .item-ios {
    line-height: 1.7em;
  }
  .search {
    position: relative;
    .search-cover {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      z-index: 1;
    }
  }
}

.wp page-home .header-logo {
  max-height: 34px;
}
