{{>header}}

<h1>{{area.name}}</h1>
<div style="height: 100px; width: 100%; background-color: #F0F;"></div>

<div class="desc">
<p>{{{parse area.description}}}</p>
{{#list area.photos}}
{{/list}}
</div>
