{{> header }}
<form id="login-form" onsubmit="return User.login(this)">
  <input id="username" class="text_input" type="text" 
	 placeholder="Användarnamn"/>
  <input id="password" class="text_input" type="password" 
	 placeholder="Lösenord"/>
  <span id="error-span">Ogiltigt användarnamn eller lösenord</span>
  {{{button ontouchend="$(this).parent().submit()" text="Logga in!"}}}
</form>
