{{> header }}
<form id="login-form" onsubmit="User.login(this); return false;">
  <input id="username" class="text_input" type="text" 
	 placeholder="Användarnamn" autofocus/>
  <input id="password" class="text_input" type="password" 
	 placeholder="Lösenord"/>
  <span class="error-span">Ogiltigt användarnamn eller lösenord</span>
  {{{button ontouchend="$(this).parent().submit()" text="Logga in!"}}}
</form>
