{{> header }}
<form id="login-form">
  <input type="text" id="username" placeholder="Användarnamn"/>
  <input type="password" id="password" placeholder="Lösenord"/>
  {{{button ontouchend="login($('#username').val(),$('#password').val())" text="Logga in!"}}}
</form>
