{{> header }}
<div class="list">
    <div class="list-header">
      Mina Fiskekort
    </div>
    <div class="list-content">
        {{#if cards}}
        {{#list cards}}
        {{product_title}}
        <br>
        {{#printdate validTo}}{{/printdate}}
        {{/list}}
        {{else}}
        <p>inga kort här just nu</p>
        {{/if}}
    </div>
</div>
