<script id="header-partial" type="text/x-handlebars-template">
<div id="header">
<img src="static/img/logo-xs.png"/><form onsubmit="return search(this);"><input type="search" placeholder="Sök fiskevatten"/><input type="submit" style="display:none;"/></form>
</div>
</script>
