<script id="header-partial" type="text/x-handlebars-template">
	<div id="header">
		<img src="static/img/logo-xs.png"/><div><input type="search" placeholder="Sök fiskevatten"/></div>
		<button id="info" onclick="Navigate.popup('about');" value="hidden"></button>
	</div>
</script>

