{{> header }}
<form id="register-form">
  <input id="name" class="text_input" type="text" 
	 placeholder="Namn"/>
  <input id="username" class="text_input" type="text" 
	 placeholder="Användarnamn"/>
  <input id="email" class="text_input" type="email" 
	 placeholder="Email"/>
  <input id="password" class="text_input" type="password" 
	 placeholder="Lösenord"/>
  <input id="password_confirm" class="text_input" type="password" 
	 placeholder="Bekräfta Lösenord"/>
</form>
{{{button text="Registrera"}}}
