{{> header }}
<form class=pure-form pure-form-aligned id="register-form">
	<legend id=registerbar>Registrera användare</legend>
	<p><label for="name">Namn: </label>
	<input type="text" id="name"></input>*</p>
	<p><label for="username">Användarnamn: </label>
	<input type="text" id="username"></input>*</p>
	<p><label for="email">E-post: </label>
	<input type="email" id="email"></input>*</p>
	<p><label for="password">Lösenord: </label>
	<input type="password" id="password"></input>*</p>
	<p><label for="password_confirm">Bekräfta lösenord: </label>
	<input type="password_confirm" id="password_confirm"></input>*</p>
	<div>Fält markerade med en asterisk (*) är obligatoriska.</div>
	{{{button text="Registrera"}}}
</form>
