{{> header }}
<div class="list">
    <div class="list-header">
        Fiskevatten
    </div>
    <div class="list-content">
        {{#list searchresults}}
        {{{button ontouchend=(concat a="Area.go(" b=id c=");") text=name }}}
        {{/list}}
    </div>
</div>
