{{> header }}
<div class="column-row">
	<div class="column-div first-column">Fiskevatten
	<button class="sort_desc" id="sort_waters"></button></div>
	
	<div class="column-div">Län
	<button class="sort_desc" id="sort_region"></button></div> 
</div>

<div class="vertscroll">
{{ #if search }}
{{ #list search }} 
    <div class="list-div first-column">
        <div id="name">{{ name }}</div>
        <div id="region">{{ region }}</div>
        <button id="water_arrow"></button>
    </div>
{{ /list }}
{{ /if }}
</div>
