{{> header }}
<div class="list">
    <div class="list-header">
        Fiskevatten
    </div>
    <div class="list-content">
        {{#list searchresults}}
        {{name}}
        <button class="list-icon water_arrow"></button>
        {{/list}}
    </div>
</div>

{{#if search }}
<div class="vertscroll">
{{#list search }} 
    <div class="list-div first-column">
        <div id="name">{{name }}</div>
        <div id="region">{{region }}</div>
        <button id="water_arrow"></button>
    </div>
{{/list }}
</div>
{{/if }}
