{{> header }}
<div class="list">
    <div class="list-header">
        Fiskevatten
    </div>
    <div class="list-content">
        {{#list searchresults}}
        {{{button ontouchend="Area.go({{id}});" text=name }}}
        {{/list}}
    </div>
</div>
