page-fishing-methods {
  .card {
    background: transparent;
    position: relative;
    margin: 0;
    width: 100%;
    min-height: 55px;

    img[src=""] {
      padding-top: 25%;

      & + h2 {
        height: 100%;
        padding-top: 10%;
      }
    }

    h2 {
      position: absolute;
      text-align: center;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 8px;
      margin: 0;
      color: white;
      background-color: rgba(black, .5);
    }
  }

}
