<ion-view title="Om appen">
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap spaced-text">
                <h2>iFiske - Enklare Fiskekort</h2>
                <p>&copy; 2015 Jighead AB (iFiske.se)</p>
                <p>Versionsnummer: <b>{{::version}}</b></p>
                <p>Databasen hämtades senast: <b>{{update.last_update() | date:'medium'}}</b></p>
                <p>Denna app visar information om de fiskevatten som är anslutna till tjänsten iFiske.se. Jighead AB ansvarar ej för att all information är uppdaterad och korrekt, detta ansvar ligger på respektive ansluten organisation.</p>
                <p>Besök gärna <a href='http://www.ifiske.se/'>iFiske.se</a> - där finns mer information om anslutna fiskevatten och om iFiske.se! Gilla gärna <a href='http://www.facebook.com/fiskekort/'>iFiskes sida på Facebook</a> för senaste nytt!</p>
                <p><strong>Lite "finstilt"</strong></p>
                <p>Denna App har utvecklats, underhålls och ägs av Jighead AB. Informationen i denna applikation tillhandahålls i befintligt skick. Jighead gör inga utfästelser och ger inga underförstådda garantier avseende materialet. Jighead tar inget ansvar och åtar sig ingen ersättningsskyldighet av något slag med anknytning till eller i samband med användningen av denna applikation eller materialet som den tillgodoser.</p>
                <p><strong>Vi älskar öppen källkod!</strong></p>
                <p>Källkoden till denna applikation är öppen under Apache License och finns på <a href="https://github.com/ifiske/iFiske" system-browser>GitHub</a>. Detta betyder att det är fritt för vem som helst att ladda hem och laborera med koden. Bidra gärna till utvecklingen av applikationen, kanske du har en idé på ett tillägg eller en förbättring? Notera dock att all information och data som laddas ned och visas av appen är copyright-skyddad och ej fri. Vill du utveckla en helt egen app eller tjänst baserad på iFiskes databas skall du kontakta oss för villkor och egen API-nyckel.</p>
                <p>Denna mjukvara använder delvis öppen källkod, enligt licenser nedanför:</p>
            </div>
            <div class="list">
                <div class="item" ng-click="alert(l)" ng-repeat="l in licenses">
                    <h2>{{::l.title}}</h2>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
