ion-data-form {
  display: block;

  .list[inset] {
    margin: 0;
  }

  .label {
    margin: 0;
  }

  ion-errors {
    margin: 8px;
  }

  input::placeholder {
    color: $primary-text-color !important;
  }

  .ion-data-form-inputs {
    @include blurred-background;
  }

  .item-input {
    background: transparent;
    color: $primary-text-color;
    margin: 0;
  }
}
