<form *ngIf="form && form.group" [formGroup]="form.group" (ngSubmit)="submit()" novalidate>
  <div class="ion-data-form-inputs">
    <ng-container *ngFor="let item of form.controlArray; let i = index">
      <ng-container [ngSwitch]="item.type">
        <ion-item *ngSwitchCase="'textarea'" [class.ng-invalid]="item.control.invalid" [class.ng-valid]="item.control.valid">
          <ion-label *ngIf="item.label" floating>{{item.label | translate}}</ion-label>

          <ion-textarea [formControl]="item.control" [placeholder]="(item.placeholder | translate) || ''" [required]="item.required"></ion-textarea>
        </ion-item>

        <ion-item *ngSwitchCase="'password'" [class.ng-invalid]="item.control.invalid" [class.ng-valid]="item.control.valid">
          <ion-label *ngIf="item.label" floating>{{item.label | translate}}</ion-label>
          <ion-input [clearOnEdit]="false" [placeholder]="(item.placeholder | translate) || ''" [type]="item.showPassword ? 'text' : 'password'"
            [formControl]="item.control" autocomplete="off" [required]="item.required"></ion-input>
          <button type="button" ion-button icon-only item-right clear (click)="togglePassword(item)">
            <ion-icon [name]="item.showPassword ? 'eye' : 'eye-off'"></ion-icon>
          </button>
        </ion-item>

        <ion-item *ngSwitchCase="'select'" [class.ng-invalid]="item.control.invalid" [class.ng-valid]="item.control.valid">
          <ion-label *ngIf="item.label" floating>{{item.label | translate}}</ion-label>
          <ion-select [placeholder]="(item.placeholder | translate) || ''" [formControl]="item.control" [required]="item.required">
            <ion-option *ngFor="let option of item.options" [value]="option">{{option}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item *ngSwitchDefault [class.ng-invalid]="item.control.invalid" [class.ng-valid]="item.control.valid">
          <ion-label *ngIf="item.label" floating>{{item.label | translate}}</ion-label>
          <ion-input [placeholder]="(item.placeholder | translate) || ''" [type]="item.type" [formControl]="item.control" [required]="item.required"></ion-input>
        </ion-item>
      </ng-container>
      <ion-errors [control]="item.control" [errors]="item.errors"></ion-errors>
    </ng-container>
    <ion-errors [control]="form.group" [errors]="form.errors"></ion-errors>
  </div>
  <button ion-button block icon-right *ngIf="!hideSubmit" type="submit" name="action" [disabled]="disableSubmit != undefined ? disableSubmit : !form.group?.valid">{{form.submitMessage | translate}}
    <ion-icon name="send"></ion-icon>
  </button>
</form>
