$icomoon-font-path: "assets/fonts" !default;

$ifiske-permit: "\e90c";
$ifiske-hook: "\e900";
$ifiske-favorite: "\e901";
$ifiske-logout: "\e906";
$ifiske-map: "\e908";
$ifiske-fish: "\e902";
$ifiske-fishing: "\e903";
$ifiske-hamburger: "\e904";
$ifiske-legal: "\e905";
$ifiske-mail: "\e907";
$ifiske-paper: "\e909";
$ifiske-user: "\e90a";
$ifiske-writereport: "\e90b";

