.information-page:not([padding]) .scroll-content {
  section {
    padding: $content-padding;
  }
}

.information-page .scroll-content {
  font-size: 1.2em;
  line-height: 1.4;
  section,
  h2,
  h3,
  h4 {
    margin: 0;
    padding: 0;
  }
  h2,
  h3,
  h4 {
    color: map-get($colors, dark);
    &:not(:first-child) {
      margin: $content-padding 0 0;
    }
  }
  h2 {
    font-size: 1.2em;
  }
  h3 {
    font-size: 1.1em;
  }
  ion-slides {
    height: auto;
  }
  .full-width {
    $width: calc(100% + #{2 * $content-padding});
    margin-left: -$content-padding;
    width: $width;
    max-width: $width;
  }
  p {
    margin: 0;
  }
  p + p {
    margin-top: 1em;
  }
}

.background-image {
  background: transparent !important;
  &::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background-image: url('../assets/img/bg-new.jpg'),
      linear-gradient(to bottom, #0a5085 50%, #000000 50%);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.background-abstract {
  &,
  &.has-refresher {
    .scroll-content {
      background: url('../assets/img/bg-abstract.jpg');
      background-size: cover;
      background-position: bottom;
      background-repeat: no-repeat;
    }
  }
}

.content.transparent {
  &,
  > .fixed-content,
  > .scroll-content {
    background: transparent !important;
  }
}

.content.background-image,
.content.background-abstract {
  $active-opacity: 0.95;
  $disabled-opacity: 0.7;
  .button:not([color]):not([clear]) {
    background-color: rgba(color($colors, primary), $active-opacity);
  }
  .button[color='secondary'] {
    background-color: rgba(color($colors, secondary), $active-opacity);
  }
  button[disabled],
  [ion-button][disabled] {
    opacity: 1;
    &.button:not([color]):not([clear]) {
      background-color: rgba(color($colors, primary), $disabled-opacity);
    }
    &.button[color='secondary'] {
      background-color: rgba(color($colors, secondary), $disabled-opacity);
    }
  }
}

.alert-large {
  .alert-wrapper {
    max-width: 90%;
  }
  .alert-message {
    max-height: initial;
  }
}

.alert-terms {
  .alert-message {
    text-align: left;
    font-size: 1.5rem;
    line-height: 1.3;
    br {
      line-height: 2;
    }
  }
}
.floating-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $content-padding;
  ion-backdrop {
    visibility: visible;
  }
  > .modal-wrapper {
    contain: content;
    .ios & {
      border-radius: $alert-ios-border-radius;
    }
    .md & {
      border-radius: $alert-md-border-radius;
    }
    position: static !important;
    overflow: hidden;
    max-width: 80vw;
    height: auto;
    background-color: #f8f8f8;
    > .ion-page {
      padding: $content-padding;

      position: static;

      width: unset;
      height: unset;
      top: unset;
      left: unset;
      contain: content !important;
      background: white;
      max-height: 100%;
      overflow-y: auto;
    }
  }
}

@mixin blurred-background($opacity: 0.5, $blurred-opacity: $opacity / 2) {
  background: rgba(white, $opacity);
  overflow: hidden;

  @supports (backdrop-filter: blur(4px)) {
    background: rgba(white, $blurred-opacity);
    backdrop-filter: blur(4px);
  }
}

@mixin clip-path-frame($size: 1rem) {
  clip-path: polygon(
    0% 0%,
    0% 100%,
    $size 100%,
    $size $size,
    calc(100% - #{$size}) $size,
    calc(100% - #{$size}) calc(100% - #{$size}),
    $size calc(100% - #{$size}),
    $size 100%,
    100% 100%,
    100% 0%
  );
}
