.information-page:not([padding]) .scroll-content {
  section {
    padding: $content-padding;
  }
}
.information-page .scroll-content {
  font-size: 1.2em;
  line-height: 1.4;

  section,
  h2,
  h3,
  h4 {
    margin: 0;
    padding: 0;

  }

  h2,
  h3,
  h4 {
    color: map-get($colors, dark);

    &:not(:first-child) {
      margin: $content-padding 0 0;
    }
  }

  h2 {
    font-size: 1.2em;
  }

  h3 {
    font-size: 1.1em;
  }

  ion-slides {
    height: unset;
  }

  .full-width {
    $width: calc(100% + #{2 * $content-padding});
    margin-left: -$content-padding;
    width: $width;
    max-width: $width;
  }


  p {
    margin: 0;
  }

  p+p {
    margin-top: 1em;
  }
}

.content.background-image {
  background: transparent !important;
  &::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background-color: white;
    background-image: url('/assets/img/bg-login.png');
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
  }
}

.content.background-abstract {
  background-image: url('/assets/img/bg-abstract.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.content.transparent {
  &,
  >.fixed-content,
  >.scroll-content {
    background: transparent !important;
  }

}
