<!--
  Generated template for the AreasSearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>AreasSearch</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top color="primary">
    <ion-searchbar animated (ionInput)="search($event)"></ion-searchbar>
  </ion-toolbar>

</ion-header>


<ion-content>
  <ion-list [virtualScroll]="areas" approxItemHeight="96px">
    <ion-item *virtualItem="let area" (click)="goto(area)">
      <ion-thumbnail item-start *ngIf="area.photo">
        <img [src]="area.photo">
      </ion-thumbnail>

      <h2>{{area.org}}</h2>
      <span class="right distance-indicator" *ngIf="area.distance | distance"><ion-icon name="navigate"></ion-icon> {{area.distance | distance}}</span>
      <p [innerText]="area.t"></p>
      <fish-level [level]="area.level" icon="true" *ngIf="foundFish"></fish-level>
    </ion-item>
  </ion-list>
</ion-content>
