<ion-list class="catches-list" *ngIf="catches">
  <ion-item *ngIf="!catches.length">{{'ui.reports.no_catch' | translate}}</ion-item>
  <ion-item *ngFor="let catch of catches" (click)="openFish(catch)" tappable>
    <div class="list-wrap">
      <div class="catch-fish" *ngIf="catch.fish$ | async as fish">
        <img [icSrc]="fish?.img" />
        <span>{{ fish?.t }}</span>
      </div>

      <div class="catch-info">
        <div class="catch-info-part">
          <span *ngIf="catch.num > 0">{{ catch.num }}</span>
          <span
            >{{('ui.reports.amount.' + (catch.num === 1 ? 'single' : 'multiple')) |
            translate}}</span
          >
        </div>
        <div class="catch-info-part">
          <ng-container *ngIf="catch.wei">
            <span *ngFor="let str of catch.wei | weight">{{str}}</span>
          </ng-container>
        </div>
        <div class="catch-info-part">
          <ng-container *ngIf="catch.cm"><span>{{catch.cm}}</span><span>cm</span></ng-container>
        </div>
      </div>
    </div>

    <div class="comment" *ngIf="catch.cmt">
      <ion-icon name="contact"></ion-icon>
      <p>{{catch.cmt}}</p>
    </div>
  </ion-item>
</ion-list>
