catches-list {
  .catches-list {
    padding: 0;
    list-style-type: none;
  }

  .list-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .catch-fish {
    display: flex;
    img {
      max-height: 4rem;
      display: block;
      width: auto;
    }
    color: $secondary-text-color;
    flex-direction: column;
    text-align: center;
    max-width: 20vw;
    margin-right: 1rem;
    font-size: 14px;
  }

  .catch-info {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
  }

  .catch-info-part span:first-child {
    font-size: 22px;
    line-height: 1;
  }

  .comment {
    margin-top: 4px;
    display: flex;
    align-items: center;
    .icon {
      // These colors need to be different to make the visual weight about the same
      color: hsl(0, 0%, 80%);
      flex-shrink: 0;
      margin-right: 8px;
      font-size: 24px;
    }
    p {
      color: inherit;
      white-space: normal;
      padding: 8px 12px;
      border-radius: 8px;
      background: hsl(0, 0%, 93%);
    }
  }
}
