<ion-view title="{{'Fishing License' | translate}} {{product.validity | translate}}" class="bg-{{product.validity}}">
  <ion-content padding="true">
    <div ng-if="product" class="padding bg-white">
      <img ng-show="product.rev" src="img/makulerad.png" class="revoked"/>
      <section class="text-center">
        <h3>{{product.t}}</h3>
        <p ng-if="product.subt">{{product.subt}}</p>
        <h2>{{product.code}}</h2>
        <h1 class="{{product.validity}}">{{product.validity | translate}}</h1>
      </section>
      <hr />
      <section>
        <p translate translate-value-name="{{product.fullname}}">Issued to</p>
        <p>{{'Phone number' | translate}}: {{product.tel}}</p>
        <p translate translate-value-date="{{product.at * 1000 | date:'short'}}">Issued at</p>
        <p translate translate-value-date="{{product.fr * 1000 | date:'short'}}">Valid from</p>
        <p translate translate-value-date="{{product.to * 1000 | date:'short'}}">Valid until</p>
      </section>
      <hr />
        <a ng-if="product.pdf" class="button button-dark button-block icon-left ion-document" href="{{::ifiskeUrl}}{{product.pdf}}" translate>PDF</a>
        <a ng-if="!product.rev" class="button icon-left ion-document-text button-block button-assertive" ng-click="confirmRevokeLicense(1)" translate>Revoke</a>
        <a ng-if="product.rev" class="button icon-left ion-document-text button-block button-balanced" ng-click="confirmRevokeLicense(0)" translate>Unrevoke</a>
    </div>
    <div ng-if="!product">
      <h2 class="text-center" translate>Error</h2>
      <p translate>{{message}}</p>
      <p ng-if="code">{{'Code' | translate}}: <b>{{code}}</b></p>
    </div>
  </ion-content>
  <ion-footer-bar ng-if="product.rule_t" class="bar-balanced">
    <div class="button-bar">
      <a class="button button-icon ion-document-text" ng-click="openRulesModal()">Regler</a>
    </div>
  </ion-footer-bar>
</ion-view>
