<ion-view title="Fiskekort">
  <ion-content padding="true">
    <h3 class="text-center">{{product.t}}</h3>
    <p ng-if="product.subt">{{product.subt}}</p>
    <h2 class="text-center">{{product.code}}</h2>
    <h2 class="text-center">{{product.tel}}</h2>
    <p>Utfärdat till {{product.fullname}}</p>
    <p>Inköpsdatum: {{product.at * 1000 | date:'short'}}</p>
    <p>Gäller från <b>{{product.fr * 1000 | date:'short'}}</b></p>
    <p>till <b>{{product.to * 1000 | date:'short'}}</b></p>
    <h1>{{isValid()?'Giltligt':'Ej giltligt'}}</h1>
    {{product}}
      <a ng-if="product.pdf" class="button button-dark icon-left ion-document" href="{{::image_endpoint}}{{::product.pdf}}" >PDF</a>
  </ion-content>
  <ion-footer-bar ng-if="product.rule_t" class="bar-balanced">
    <div class="button-bar">
    <a class="button button-icon ion-document-text" ng-click="openRulesModal()">Regler</a>
    </div>
  </ion-footer-bar>
</ion-view>
