// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import '../theme/icons';
@import '../theme/shared';
@import './super-tabs';

ion-nav {
  background-color: black;
}


.right {
  float: right !important;
  margin-left: auto !important;
}

.text-right {
  text-align: right;
}

.left {
  float: left !important;
  margin-right: auto !important;
}

.text-center {
  text-align: center;
}
.center {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center;
}


super-tabs-container {
  height: calc(100% - 54px) !important;
}

super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container .tab-buttons super-tab-button {
  &.title-and-icon {
    height: 54px !important;
  }

  .title {
    font-size: .9em;
    text-transform: capitalize;
  }

  &.title-and-icon ion-icon {
    margin-bottom: 0 !important;
  }
}

.list-ios, .list-md {
  margin: -1px 0;
}


.card-header .icon {
  vertical-align: middle;
}

.icon.large {
  font-size: 2em;
}

.item-md,
.item-ios {
  &.item-input.ng-dirty:not(.input-has-focus):not(.item-input-has-focus) {
    &.ng-invalid.item-md .item-inner {
      box-shadow: inset 0 -1px 0 0 $text-input-highlight-color-invalid;
    }
    &.ng-invalid .item-inner {
      border-bottom-color: $text-input-highlight-color-invalid;
    }

    &.ng-valid.item-md .item-inner {
      box-shadow: inset 0 -1px 0 0 $text-input-highlight-color-valid;
    }
    &.ng-valid .item-inner {
      border-bottom-color: $text-input-highlight-color-valid;
    }
  }
}


.item-label-floating {
  .input-md,
  .input-ios {
    transition: opacity 150ms ease-in-out;
  }

  &:not(.item-input-has-focus) input::placeholder {
    opacity: 0;
  }
}

// Removes the padding-left for inputs
:not([inset])>.item-checkbox,
:not([inset])>.item-ios.item-input,
:not([inset])>.item-md.item-input {
  padding-left: 0;
}

.list[border][inset] {
  border: 1px solid #c8c7cc;
}

.item {
  &+.list-header-md,
  &+.list-header-ios {
    margin-top: -1px;
  }
}

.list-header-ios {
  border-top: $list-ios-header-border-bottom;
}

.list-header-md {
  margin-bottom: -0.5em;
  border-top: none;
  text-transform: uppercase;

  &>.item-inner>.input-wrapper {
    &>.label {
      flex: 0 0 auto;
    }
    &::after {
      content: '';
      display: block;
      border-bottom: 1px solid $list-border-color;
      flex: 1 1 100%;
    }
  }
}

.virtual-scroll.list-ios > .item-block:first-child {
  border-top: none;
}

.item h2 {
  text-overflow: ellipsis;
  overflow: hidden;
}

.header-md[transparent]::after {
  display: none;
}

.alert-button-group {
  flex-shrink: 0;
}

.ion-icon {
  display: inline-block;
  font-family: "Ionicons";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-rendering: auto;
  text-transform: none;
  speak: none;
}


.ios .statusbar-padding:first-child {
  &.toolbar {
  padding-top: calc(20px + 4px);
  padding-top: calc(constant(safe-area-inset-top) + 4px);
  padding-top: calc(env(safe-area-inset-top) + 4px);
  min-height: calc(44px + 20px);
  min-height: calc(44px + constant(safe-area-inset-top));
  min-height: calc(44px + env(safe-area-inset-top));

  ion-segment,
  ion-title {
    padding-top: 20px;
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
    height: calc(44px + 20px);
    height: calc(44px + constant(safe-area-inset-top));
    height: calc(44px + env(safe-area-inset-top));
    min-height: calc(44px + 20px);
    min-height: calc(44px + constant(safe-area-inset-top));
    min-height: calc(44px + env(safe-area-inset-top));
  }
  }

  .scroll-content {
    padding-top: 20px;
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
  }

  &[padding],
  &[padding-top] {
    .scroll-content {
      padding-top: calc(16px + 20px);
      padding-top: constant(safe-area-inset-top);
      padding-top: env(safe-area-inset-top);
    }
  }
}


.back-button-ios {
  max-width: 86px;
  .button-inner {
    justify-content: flex-start;
  }
}


.back-button-text-ios {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}


.force-back-button .back-button {
  display: inline-block;
}
