<ion-view hide-back-button="true" class="image-bg">
    <ion-nav-title>
        <img height="85%" src="img/logo_plain.svg">
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-clear icon ion-person" ng-click="popover.show($event)"></button>
    </ion-nav-buttons>


    <ion-content class="padding">
        <div class="list list-inset">
            <label class="item item-input" ng-if="update.last_update()">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Sök" ng-keypress="myFunc($event)"/>
            </label>
            <div class="item item-icon-right item-assertive" ng-if="!update.last_update()" ng-click="forcedUpdate()">
                Ingen data finns!
                <i class="icon ion-refresh"></i>
            </div>
        </div>

        <div class="list list-inset" ng-class="{'disabled-list': !update.last_update() }">
            <div class="item item-button-left" ui-sref="^.find_areas.counties">
                <button class="button button-positive button-clear">
                    <i class="icon icon-icon_fishingareas"></i>
                </button>
                Fiskevatten
            </div>
            <div class="item item-button-left" ui-sref="^.map">
                <button class="button button-positive button-clear">
                    <i class="icon ion-map"></i>
                </button>
                Karta
            </div>
            <div ng-if="loggedIn.token" class="item item-button-left" ui-sref="^.cards">
                <button class="button button-positive button-clear">
                    <i class="icon ion-card"></i>
                </button>
                Mina fiskekort
            </div>
            <div ng-if="news()" class="item item-button-left" ui-sref="^.news">
                <button class="button button-positive button-clear">
                    <i class="icon ion-information-circled"></i>
                </button>
                {{news()}}
            </div>
            <div class="item item-button-left" ui-sref="^.fishes">
                <button class="button button-positive button-clear">
                    <i class="icon icon-icon_fish"></i>
                </button>
                Fiskarter
            </div>
            <div class="item item-button-left" ui-sref="^.techniques">
                <button class="button button-positive button-clear">
                    <i class="icon icon-icon_bait"></i>
                </button>
                Fiskemetoder
            </div>
            <!-- div class="item item-button-left" ui-sref="^.report">
                <button class="button button-positive button-clear">
                <i class="icon icon-icon_paper"></i>
                </button>
                Fångstrapporter
                </div -->
                </div>
    </ion-content>
</ion-view>
