<ion-view>
  <ion-nav-title>{{area.t}}</ion-nav-title>
  <ion-content class="area">
    <div class="item item-image">
      <swiper options="slideOptions" ng-if="images.length > 1">

        <div class="swiper-slide" ng-repeat="img in images">
          <div class="slider-image" style="padding-top: {{img.ratio}};">
            <img img-cache ic-src="{{::ifiskeUrl + img.file}}">
            <p class="image-text">{{img.t}} {{img.t && img.d ? '-' : ''}} {{img.d}}</p>
          </div>
        </div>
        <img img-cache ic-src="{{::ifiskeUrl + images[0].file}}" ng-if="images.length == 1" />
        <p ng-if="images.length == 1" class="image-text">{{images[0].t}} {{images[0].t && images[0].d ? '-': ''}} {{images[0].d}}</p>
    </div>
    <div ng-if="area.t" class="item item-divider item-button-right">
      <h2 class="area-title">{{::area.t}}</h2>
      <button class="button button-icon icon" ng-class="{starred: area.favorite, 'ion-android-star-outline': !area.favorite, 'ion-android-star': area.favorite}"
        ng-click="changeFavorite();"></button>
    </div>
    <div ng-if="area.d" class="item item-body">
      <button class="button button-positive pull-right buy-cards-info-button" ng-if="products.length" ui-sref="^.cards" translate>Purchase license</button>
      <p ng-bind-html="area.d | onebr"></p>
    </div>
    <div ng-if="org.t && area.d" class="item item-divider">
      <p>{{::org.t}}</p>
    </div>
    <div ng-if="org.d" class="item item-body">
      <img ng-if="org.logo" class="logo large" ng-src="{{ifiskeUrl}}{{'/'+org.logo}}">
      <p ng-bind-html="org.d | onebr"></p>
    </div>
    <div ng-if="files && files.length" class="item item-divider" translate>Files</div>
    <a class="item" ng-repeat="file in files" ng-href="{{::ifiskeUrl}}{{file.f}}">
      <i ng-if="file.thumb" style="content: url('{{::ifiskeUrl}}{{file.thumb}}');" class="icon-image"></i> {{ file.t || file.f.split('/').slice(-1)[0]
      || ( 'Downloadable file' | translate:{type: file.typ} ) }}
    </a>
    <div ng-if="org.cp" class="item item-divider">
      <p translate>Contact Information</p>
    </div>
    <div ng-if="org.cp" class="item item-body">
      <p ng-bind-html="org.cp | onebr"></p>
      <a href="{{::org.url}}" ng-if="org.url">{{::org.url}}</a>
    </div>
  </ion-content>
</ion-view>
