<div class="modal">
    <ion-header-bar class="bar-positive">
        <h1 class="title">{{product.t}}</h1>
        <button class="button button-clear icon ion-close" ng-click="closeModal()"></button>
    </ion-header-bar>
    <ion-content class="padding">
            <p>När du klickar på knappen kommer din vanliga sms-app att öppnas med ett förskrivet SMS till 72456.</p>
            <p>Formatet för att skicka ett sms är:</p>
            <div class="list list-inset">
                <p class="item">FISKA {{product.pf}} Förnamn Efternamn</p>
            </div>
            <p>Se till att rätt namn står innan du skickar ditt sms!</p>

            <ion-checkbox ng-model="SMSRules.approval" ng-true-value="'YES'" ng-false-value="'NO'" ng-change="persistApproveSMSRules()">Jag godkänner SMS-reglerna</ion-checkbox>
        <button ng-disabled="SMSRules.approval!='YES'" class="button button-block button-balanced" ng-cordova-sms="{{product.pf}}">Skicka SMS</button>
    </ion-content>
</div>
