<div class="modal">
    <ion-header-bar class="bar-positive">
        <h1 class="title">{{product.t}}</h1>
        <button class="button button-clear icon ion-close" ng-click="closeModal()"></button>
    </ion-header-bar>
    <ion-content class="padding">
            <p translate>Text message instructions</p>
            <p translate>Text message format</p>
            <div class="list list-inset">
                <p class="item">FISKA {{product.pf}} {{'First name' | translate}} {{'Surname' | translate}}</p>
            </div>
            <p translate>Make sure you have the correct name</p>

            <ion-checkbox ng-model="SMSRules.approval" ng-true-value="'YES'" ng-false-value="'NO'" ng-change="persistApproveSMSRules()">{{'I approve the text message rules' | translate}}</ion-checkbox>
        <button ng-disabled="SMSRules.approval!='YES'" class="button button-block button-balanced" ng-cordova-sms="{{product.pf}}" translate>Send SMS</button>
    </ion-content>
</div>
