<ion-view title="{{::fish.t}}">
<ion-content>
<div class="list">
    <div class="item">
        <h2>{{::fish.t}}</h2>
        <h3>{{::fish.lat}}</h3>
    </div>
    <div ng-if="fish.img" class="item item-image">
        <img ic-src="{{image_endpoint}}{{fish.img}}" img-cache />
    </div>
    <div ng-if="fish.d" class="item item-divider">
        <p>Beskrivning</p>
    </div>
    <div ng-if="fish.d" class="item item-body">
        <p ng-bind-html="fish.d" />
    </div>
    <div ng-if="fish.geo" class="item item-divider">
        <p>Utbredning</p>
    </div>
    <div ng-if="fish.geo" class="item item-body">
        <p ng-bind-html="fish.geo" />
    </div>
    <div ng-if="fish.size" class="item item-divider">
        <p>Storlek och tillväxt</p>
    </div>
    <div ng-if="fish.size" class="item item-body">
        <p ng-bind-html="fish.size" />
    </div>
    <div ng-if="fish.rec" class="item item-divider">
        <p>Sportfiskerekord</p>
    </div>
    <div ng-if="fish.rec" class="item item-body">
        <p ng-bind-html="fish.rec" />
    </div>

</div>
</ion-content>
</ion-view>
