<ion-view view-title="Återställ lösenord" cache-view="false">
    <ion-content>
	<div class="list list-inset">
	    
	    <form name="resetForm" id="reset-form" novalidate>

		<!-- User -->
		<label for="user" class="input-label">Användarnamn eller e-post:</label>
		<label ng-class="{'label-error': resetForm.user.$invalid &&
				 resetForm.user.$dirty && resetForm.user.length}" 
                       class="item item-input">
		    <input id="user" name="user" ng-model="user" type="text" 
                           ng-change="resetForm.user.$setValidity('invalidUser',true);"
                           required>
		</label>

		<ng-messages for="resetForm.user.$error" class="error-message"
		     ng-if="resetForm.user.$dirty">
		    <div ng-message="invalidUser">Användaren finns ej</div>
		</ng-messages>


		<!-- Submit -->
		<button ng-click="lostPassword(resetForm)" ng-disabled="resetForm.$invalid"
		     class="button button-block button-positive">Nästa</button>

	    </form>
	</div>
    </ion-content>
</ion-view>
