page-areas-detail-info {
  img {
    display: block;
  }

  .item ion-avatar img {
    border-radius: 4px;
  }

  :not(.label) > h3 {
    margin: 0 !important;
    padding: $content-padding / 1.5 $content-padding !important;
    background-color: lighten(map-get($colors, light), 8%);
    border-bottom: 1px solid map-get($colors, light);
    border-top: 1px solid map-get($colors, light);
  }

  .slider-image {
    position: relative;
  }

  .image-text {
    text-align: center;
    font-size: 13px;
    margin: 0;
    padding: 2px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    color: white;
  }
  .logo {
    margin-bottom: 1.6rem;
    max-width: 33%;
    float: right;
  }
  .content .toolbar {
    padding-left: 1.6rem;
    border-bottom: 1px solid $toolbar-border-color;
  }
  section {
    background: white;
  }
  .species-list {
    $padding: 8px;
    button {
      padding-left: $padding;
    }
    ion-thumbnail[item-start] {
      margin-right: $padding;
      &,
      img {
        height: auto;
        min-height: 0;
      }
      img {
        width: 20vw;
      }
    }

    .label {
      flex-shrink: 0;
    }

    [item-content] {
      flex-grow: 1;
    }
  }
}
