<ion-view title="Profil">
    <ion-content>
	<div class="list">
	    <div class="item item-divider">
		Användarinformation
	    </div>
	    <div class="item">
		<h2>Användarnamn</h2>
        <p>{{user.username}}</p>
	    </div>
	    <div class="item">
		<h2>Namn</h2>
        <p>{{user.name}}</p>
	    </div>
	    <div class="item">
		<h2>E-mail</h2>
        <p>{{user.email}}</p>
	    </div>
	    <div class="item item-divider">
		Mobilnummer
	    </div>
	    <div ng-repeat="number in numbers" class="item">
            <p>{{number.number}}</p>
	    </div>
	</div>
    </ion-content>
</ion-view>
