<ion-view view-title="Aktivera konto">
    <ion-content>
	<div class="list list-inset">
	    <form name="verifyForm">
		<p class="text-center">
		    <strong>En aktiveringskod kommer skickas via SMS till {{details.phone}} inom kort. Detta kan ta ett par minuter.</strong>
		</p>

    <ng-messages for="formErrors" class="error-message">
      <div class="text-center" ng-message="validationError">
        Aktiveringen misslyckades, försök igen
      </div>
    </ng-messages>

		<label for="vercode" class="input-label">Aktiveringskod:</label>
		<label ng-class="{'label-error': verifyForm.vercode.$invalid &&
				 verifyForm.vercode.$dirty && verifyForm.vercode.length}"
                       class="item item-input">
		    <input id="vercode" name="vercode" ng-model="details.vercode" type="text"
			   placeholder="1234" ng-pattern="/^\d{4}$/" required
                           ng-change="verifyForm.vercode.$setValidity('verified',true)">
		</label>
		<div class="error-message" ng-messages="verifyForm.vercode.$error"
		     ng-if="verifyForm.vercode.$dirty">
		    <p ng-message="verified">Ogiltig aktiveringskod</p>
		</div>

		<button ng-click="verify(verifyForm)" ng-disabled="verifyForm.$invalid"
			class="button button-block button-positive">Aktivera</button>
	    </form>
	</div>
    </ion-content>
</ion-view>
