permit-code {
  .md & {
    border-radius: $list-inset-md-border-radius;
  }

  .ios & {
    border-radius: $list-inset-ios-border-radius;
  }

  .wp & {
    border-radius: $list-inset-wp-border-radius;
  }
  border: 2px solid rgba(black, 0.4);
  padding: 0 0.5rem;
  line-height: 1.5;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  text-align: center;
  background-position: inherit;
  background-color: white;
  font-family: monospace;
  // @include animated-bg();
  span {
    color: rgba(black, 0.8);
  }

  &.active {
    $color: color($colors, secondary);
    color: $color;
    border-color: rgba($color, 0.5);
  }

  &.inactive {
    $color: color($colors, gold);
    color: $color;
    border-color: rgba($color, 0.5);
  }

  &.expired,
  &.revoked {
    $color: color($colors, danger);
    color: $color;
    border-color: rgba($color, 0.5);
  }
}
