<ion-view title="Fiskevatten">
    <ion-content class="has-header">
	    <div ng-show="!counties.length" class="item item-text-wrap">&#8505; Det verkar inte finnas några fiskevatten laddade. Se till att du har tillgång till nätet och gå sedan till menyn och välj att 'Uppdatera Databasen'</div>
        <ion-list>
            <ion-item ng-repeat="county in counties" ui-sref="app.areas({id: county.ID, county: county.t})">
                <h2>{{::county.t}}</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
