<ion-view>
    <ion-content>
        <ion-list>
            <ion-toggle ng-repeat="area in favorites" toggle-class="toggle-balanced" on-hold="openPopover(area)" ng-model="area.not" ng-change="notify(area)" ng-true-value="1" ng-false-value="0">
                <h2 ui-sref="app.area({id: area.ID, area: area})">{{::area.t}}</h2>
            </ion-toggle>
        </ion-list>
        <div class="card">
            <div class="item item-text-wrap">
                Håll koll på när det nappar! Lägg till dina favorit- och hemmavatten som favoriter så prenumererar du på alla nya publika fångstrapporter som kommer in till oss.
            </div>
        </div>
    </ion-content>
</ion-view>
