<ion-view title="Fiskevatten">
    <ion-nav-view name="find_areas"></ion-nav-view>
    <ion-footer-bar class="tabs tabs-icon-only tabs-calm">
        <a nav-transition="none" class="tab-item" title="Counties" ui-sref-active="active" ng-click="goto('counties')">
            <i class="icon icon-icon_fishingareas"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
        <a nav-transition="none" class="tab-item" title="Favorites" ui-sref-active="active" ng-click="goto('favorites')">
            <i class="icon ion-android-star"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
    </ion-footer-bar>
</ion-view>
