page-species-detail {
  img {
    display: block;
    margin: 0 auto;
  }

  h2 {
    br {
      line-height: 0 !important;
    }

    span {
      font-size: 1.4rem;
      font-style: italic;
    }
  }
}
