@import 'leaflet/dist/leaflet';
@import 'leaflet.locatecontrol/dist/L.Control.Locate';
@import 'leaflet.markercluster/dist/MarkerCluster';
@import './markercluster';
@import 'drmonty-leaflet-awesome-markers/css/leaflet.awesome-markers';

map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.ifiske-map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .locate-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    display: inline-block;
    font-family: 'Ionicons';
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 30px;
    font-size: 25px;
    text-rendering: auto;
    text-transform: none;
    speak: none;
  }

  .leaflet-control-locate .leaflet-bar-part {
    padding: 0;
  }

  .loader {
    $size: 3px;
    margin: calc(calc(100% - #{$size}) / 2) 0;
    display: inline-block;
    color: black;
    font-size: $size;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: load4 1.3s infinite linear;
    transform: translateZ(0);
  }
  @keyframes load4 {
    // Taken from https://projects.lukehaas.me/css-loaders/
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em,
        -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em,
        -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em,
        -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em,
        -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0,
        -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0,
        -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0,
        -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0,
        -2em -2em 0 0.2em;
    }
  }
  .leaflet-container a.leaflet-popup-close-button {
    $size: 24px;
    $padding: 8px;
    font-size: $size;
    height: $size + $padding * 2;
    line-height: $size;
    padding: $padding;
    width: $size + $padding * 2;
  }

  .awesome-marker .ion-icon {
    font-size: 16px;
  }

  .leaflet-control-container .leaflet-top {
    transition: opacity 0.3s;
  }

  .leaflet-popup-content div {
    font-size: 1.5em;
  }

  .popup-open {
    .leaflet-control-container .leaflet-top {
      opacity: 0;

      &,
      & * {
        pointer-events: none;
      }
    }
  }
}
