app-permit-log {
  display: block;
  margin-top: 1rem;
}
.log-entry {
  text-align: initial;
  padding: 0.5rem;
  &:nth-child(even) {
    background-color: rgba(black, 0.1);
  }
  p {
    margin: 0;
  }
  p + p {
    margin-left: 1rem;
  }

  .date {
    float: right;
    color: $secondary-text-color;
  }
  .action {
    font-size: 1.1em;
  }
}
