<ion-view view-title="{{county | translate}}">
    <ion-header-bar class="bar-positive item-input-inset search-bar">
        <form class="item-input-wrapper search" action="">
            <label for="search_input">
              <i class="icon ion-search"></i>
            </label>
            <input id="search_input" type="search" placeholder="{{'Search' | translate}}" ng-model="searchTerm" ng-change="search(searchTerm)" ng-keypress="keyPress($event)"/>
            <i ng-if="searchTerm.length > 0" ng-click="clearSearch()" class="icon ion-close"></i>
        </form>
    </ion-header-bar>

    <ion-content header-shrink>
      <div class="list has-search-bar">
        <div ng-if="foundFish" ui-sref="app.fishdetail({fish: foundFish, id: foundFish.ID})" class="item item-thumbnail-left found-fish">
          <img class="fish-image" img-cache ic-src="{{image_endpoint + foundFish.img}}">
          <h2>{{foundFish.t}}</h2>
          <p class="wrap">{{foundFish.d}}</p>
          </div>
        <div class="item {{area.photo ? 'item-thumbnail-left' : ''}} item-full-width" collection-repeat="area in areas" item-height="100px" ui-sref="app.area.info({id: area.ID, area:area})">
          <img class="cropped-image" img-cache ic-src="{{image_endpoint + area.photo}}" ng-if="area.photo" />
          <h2>{{area.org}}</h2>
          <span class="pull-right" ng-if="area.distance | distance"><i class="icon ion-location"></i> {{area.distance | distance}}</span>
          <p class="wrap">{{area.t === area.org ? '': area.t}}</p>
          <span ng-if="foundFish" class="lvl lvl-{{area.level}}"></span>
        </div>
      </div>
    </ion-content>
</ion-view>
