<ion-view title="{{::county}}">
    <div style="height: 43px;"></div>
    <ion-header-bar class="bar-calm item-input-inset search-bar">
        <div class="item-input-wrapper">
            <i class="icon ion-search"></i>
            <input type="search" placeholder="Sök fiskevatten" ng-model="search" ng-change="scrollTop()"/>
            <i ng-if="search.length > 0" ng-click="clearSearch()" class="icon ion-close"></i>
        </div>
    </ion-header-bar>

    <ion-content header-shrink>
        <div style="height: 43px;"></div>
        <ion-list>
            <ion-item collection-repeat="area in areas | filter:search" ui-sref="app.area.info({id: area.ID, area:area})">
                <h2>{{area.org}}</h2>
                <p>{{area.t}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
