<ion-view title="Om appen">
  <ion-content>
    <div class="list">
      <div class="item item-divider" translate>About the app</div>
      <div class="item">
        <h2 translate>iFiske - Easier Fishing</h2>
        <p>&copy; 2015 Jighead AB (iFiske.se)</p>
      </div>
      <div class="item">
        <h2 translate>Version</h2>
        <p>{{version}}</p>
      </div>
      <div class="item">
        <h2 translate>User Id</h2>
        <p>{{userId}}</p>
      </div>
      <div class="item">
        <h2 translate>Last updated</h2>
        <p>{{update.lastUpdate() | date:'medium'}}</p>
      </div>
      <a class="item" ui-sref="app.settings.foss" translate>Open Source Licenses</a>
    </div>
  </ion-content>
</ion-view>
