<ion-view title="{{area.t}}" cache-view="false">
<ion-content>
<div class="row">
    <div ng-repeat="fish in fishes | orderBy:sortorder" class="col col-33 card fishcard">
        <div class="item-image" ui-sref="menu.fishdetail({fish: fish, id: fish.ID})">
            <img ng-if="fish.img" src="{{image_endpoint}}{{fish.img}}" />
            <img ng-if="!fish.img" src="{{image_endpoint}}{{default_img}}" />
            <p>
            <span>{{fish.t}}</span> <span class="lvl lvl-{{fish.amount}}" />
            </p>
        </div>

    </div>
</div>
</ion-content>
</ion-view>
