<ion-view title="{{'Fishing License'| translate}}" class="bg-{{product.validity}}">
  <ion-content padding="true" class="text-center">
    <div class="padding bg-white">

      <img ng-show="product.rev" src="img/makulerad.png" class="revoked"/>
      <img ng-if="org.logo" class="logo product" ng-src="{{image_endpoint}}{{'/'+org.logo}}">
      <h2>{{product.ot}}</h2>
      <h3>{{product.t}}</h3>

      <div ng-if="product.qr" class="qr">
        <svg>
          <defs>
            <filter id="filter-green">
              <feComponentTransfer>
                <feFuncR type="discrete"
                tableValues="0 1"/>
                <feFuncG type="discrete"
                tableValues="0 1"/>
                <feFuncB type="discrete"
                tableValues="0 1"/>
              </feComponentTransfer>
              <feColorMatrix type="matrix" values="0 0 0 0 0.4, 0 0 0 0 0.59, 0 0 0 0 0, -1 -1 -1 1 0"/>
            </filter>
            <filter id="filter-red">
              <feComponentTransfer>
                <feFuncR type="discrete"
                tableValues="0 1"/>
                <feFuncG type="discrete"
                tableValues="0 1"/>
                <feFuncB type="discrete"
                tableValues="0 1"/>
              </feComponentTransfer>
              <feColorMatrix type="matrix" values="0 0 0 0 1, 0 0 0 0 0.345, 0 0 0 0 0.039, -1 -1 -1 1 0"/>
            </filter>
            <filter id="filter-gray">
              <feComponentTransfer>
                <feFuncR type="discrete"
                tableValues="0 1"/>
                <feFuncG type="discrete"
                tableValues="0 1"/>
                <feFuncB type="discrete"
                tableValues="0 1"/>
              </feComponentTransfer>
              <feColorMatrix type="matrix" values="0 0 0 0 .6, 0 0 0 0 .6, 0 0 0 0 0.6, -1 -1 -1 1 0"/>
            </filter>
          </defs>
          <image ng-xlink:href="{{qr}}" width="100%" height="100%"
           xlink:href=""
           filter="url(#filter-{{product.validity==='active'?'green':product.validity==='revoked'?'gray':'red'}})" />
        </svg>
      </div>
      <h1 class="{{product.validity}}">{{product.code}}</h1>

      <h3 ng-if="product.validity === 'expired'" translate>License has expired</h3>
      <h3 ng-if="product.validity === 'inactive'" translate>License not yet valid</h3>

      <p ng-if="product.subt">{{product.subt}}</p>

      <p translate translate-value-name="{{product.fullname}}">Issued to</p>
      <p translate translate-value-date="{{product.fr * 1000 | date:'short'}}">Valid from</p>
      <p translate translate-value-date="{{product.to * 1000 | date:'short'}}">Valid until</p>
      <p>
        <a ng-if="product.code" class="button button-positive" href="{{::image_endpoint}}/r/{{product.code}}?lang={{language}}" ><i class="icon icon-icon_fish"></i> {{'Catch report' | translate}}</a>
        <a ng-if="product.pdf" class="button button-dark icon-left ion-document" href="{{::image_endpoint}}{{::product.pdf}}"  translate>PDF</a>
      </p>
      <p ng-if="product.fine" class="fineprint">{{product.fine}}</p>
    </div>
  </ion-content>
  <ion-footer-bar ng-if="product.rule_t" class="bar-balanced">
    <div class="button-bar">
      <a class="button button-icon ion-document-text" ng-click="openRulesModal()" translate>Rules</a>
    </div>
  </ion-footer-bar>
</ion-view>
