<ion-view title="Fiskekort" class="image-bg">
  <ion-content>
    <h2>{{::product.ot}}</h2>
    <h2>{{::product.t}}<span class="product-code">{{::product.code}}</span></h2>
    <p>Namn: {{::product.fullname}}</p>
    <p> Gäller från {{::product.fr * 1000 | date:'short'}} till {{::product.to * 1000 | date:'short'}}</p>

    <button ng-if="product.rule_t" ng-click="openRulesModal({{product}})" class="button button-balanced">Regler</button>
    <a class="button button-energized" href="{{::image_endpoint}}{{::product.pdf}}" system-browser>Visa PDF</a>
    <a class="button button-calm" href="{{::image_endpoint}}/r/{{::product.code}}" system-browser>Fångstrapport</a>
  </ion-content>
</ion-view>
